<div class="container">
  <div class="row my-5">
    <div class="col-12 d-flex justify-content-center">
      <div class="row">
        <div class="col-12">
          <h3>Your Account</h3>
        </div>
        <div class="col-md-6 mt-3">
          <div
            [routerLink]="['/account', 'orders']"
            class="card"
            style="width: 400px; height: 130px"
          >
            <div class="card-body">
              <div class="row d-flex align-items-center my-3">
                <div class="col-4">
                  <img
                    src="https://images-na.ssl-images-amazon.com/images/G/01/x-locale/cs/ya/images/Box._CB485927553_.png"
                    alt=""
                    srcset=""
                  />
                </div>
                <div class="col-8">
                  <p>Your Orders</p>
                  <p>Current orders, previous orders and cancelled orders</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-3">
          <div
            [routerLink]="['/account', 'login-security']"
            class="card"
            style="width: 400px; height: 130px"
          >
            <div class="card-body">
              <div class="row d-flex align-items-center my-2">
                <div class="col-4">
                  <img
                    src="https://images-na.ssl-images-amazon.com/images/G/01/x-locale/cs/ya/images/sign-in-lock._CB485931485_.png"
                    alt=""
                    srcset=""
                  />
                </div>
                <div class="col-8">
                  <p>Login & security</p>
                  <p>Edit login, name and email</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
