<div style="background-color: white">
  <div class="container MM_signInContainer">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 mx-auto text-center mt-3 mb-3">
        <a [routerLink]="['']">
          <img src="../../../assets/images/logo/Amazon_logo.png" alt="" width="30%" height="auto" />
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 mx-auto MM_signInCard">
        <div class="card">
          <div class="card-body">
            <form #loginForm="ngForm">
              <div dir="auto" class="mb-3">
                <p class="fs-3">{{ "LOGIN.SIGN_IN" | translate }}</p>

                <div [ngClass]="{
                    invalid: UserEmail.invalid && UserEmail.touched
                  }">
                  <label for="exampleInputEmail1" class="form-label">{{ "LOGIN.EMAIL" | translate }}
                  </label>

                  <input required minlength="10" maxlength="30" [(ngModel)]='user.email' #UserEmail='ngModel'
                    type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control"
                    name="email" id="inputEmail" />
                  <span style="color: red; font-size: 12px;"
                    *ngIf='UserEmail.invalid && UserEmail.touched'>{{ "LOGIN.THIS_FIELD_IS_REQUIRED" | translate }}</span>


                </div>
                <br />
                <div>
                  <label class="form-label">{{ "LOGIN.PASSWORD" | translate }} </label>
                  <input required minlength="6" maxlength="20" [(ngModel)]="user.password" #password="ngModel"
                    type="password" class="form-control" name="password" />
                  <span style="color: red; font-size: 12px;"
                    *ngIf="password.invalid && password.touched">{{ "LOGIN.THIS_FIELD_IS_REQUIRED" | translate }}</span>
                </div>
                <br />
              </div>
              <div class="loginBtns">
                <div id="google" class="loginBtn" (click)='signInWithGoogle()'> <img src="../../../assets/images/logo/kisspng-google-logo-google-search-search-engine-optimizati-5be4b4e65a01a8.7135521715417151743687.png" style="width: 25px;"> Google</div>
                <div id="faceBook" class="loginBtn" (click)='signInWithFB()'> <i class="fab fa-facebook-square"></i> Facebook</div>
              </div>

              <button type="submit" [ngClass]="{'disabled': password.invalid || UserEmail.invalid}"
                class="btn bg-gradient col-12 mb-3" (click)='onLogin(user)'>

                {{ "LOGIN.LOGIN" | translate }}
              </button>
            </form>
            <div *ngIf='errorText !== "" ' class="alert alert-danger" role="alert">
              {{errorText}}
            </div>
            <div dir="auto">

              <span >
                {{ "LOGIN.BY_CONTINUING_YOU_AGREE" | translate }}
              </span>
            </div>

            <div dir="auto" class="dropdown mt-3">
              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                aria-expanded="false">
                {{ "LOGIN.NEED_HELP" | translate }}
               
              </a>

              <ul  class="dropdown-menu position-relative pt-0 pb-4" aria-labelledby="dropdownMenuLink">
                <li class="mb-2">
                  <a [routerLink]="['/resetpassword']"> {{ "LOGIN.FORGOT_YOUR_PASSWORD" | translate }}</a>
                </li>
                <li>
                  <a href="#">{{ "LOGIN.OTHER_ISSUES" | translate }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div dir="auto" class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 mx-auto text-center mt-4 mb-2 MM_newToAmazon">
        <p><span>{{ "LOGIN.NEW_TO_AMAZON" | translate }}  </span></p>
        <a [routerLink]="['/register']">
          <button type="submit" class="btn bg-gradient col-12 p-1">
           {{ "LOGIN.CREATE_YOUR_NEW_ACCOUNT" | translate }}
          </button></a>
      </div>
    </div>
    <div dir="auto" class="row">
      <div class="col-sm-12 col-md-8 col-lg-6 mx-auto text-center MM_buttomRights">
        <hr />
        <a href="#">{{ "LOGIN.CONDITIONS" | translate }}</a>
        <a href="#">{{ "LOGIN.PRIVACY_NOTICE" | translate }}</a>
        <a href="#">{{ "LOGIN.HELP" | translate }}</a>
        <p class="mt-3 text-muted">
         {{ "LOGIN.COPY_RIGHTS" | translate }} 
        </p>
      </div>
    </div>
  </div>
</div>
