<div style="background-color: white">
  <div class="container MM_signInContainer">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 mx-auto text-center mt-3 mb-3">
        <a [routerLink]="['']">
          <img
            src="../../../assets/images/logo/Amazon_logo.png"
            alt=""
            width="30%"
            height="auto"
          />
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 mx-auto MM_signInCard">
        <div class="card">
          <div class="card-body">
            <form #loginForm="ngForm">
              <div class="mb-3">
                <p class="fs-3">Sign-In</p>

                <div
                  [ngClass]="{
                    invalid: UserEmail.invalid && UserEmail.touched
                  }"
                >
                  <label for="exampleInputEmail1" class="form-label"
                    >Email
                  </label>
                  <input
                    required
                    minlength="10"
                    maxlength="30"
                    [(ngModel)]="user.email"
                    #UserEmail="ngModel"
                    type="email"
                    class="form-control"
                    name="email"
                    id="inputEmail"
                  />
                  <span *ngIf="UserEmail.invalid && UserEmail.touched"
                    >This Field is Required</span
                  >
                </div>
                <br />
                <div>
                  <label class="form-label">Password </label>
                  <input
                    required
                    minlength="6"
                    maxlength="20"
                    [(ngModel)]="user.password"
                    #password="ngModel"
                    type="password"
                    class="form-control"
                    name="password"
                  />
                  <span *ngIf="password.invalid && password.touched"
                    >This Field is Required</span
                  >
                </div>
                <br />
              </div>

              <button
                type="submit"
                class="btn bg-gradient col-12 mb-3"
                (click)="onLogin(user)"
              >
                Login
              </button>
            </form>
            <span>
              By continuing, you agree to Amazon's
              <a href="#">Conditions of Use</a> and
              <a href="#">Privacy Notice</a>.</span
            >

            <div class="dropdown mt-3">
              <a
                class="dropdown-toggle"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Need help?
              </a>

              <ul
                class="dropdown-menu position-relative pt-0 pb-4"
                aria-labelledby="dropdownMenuLink"
              >
                <li class="mb-2">
                  <a [routerLink]="['/resetpassword']">Forgot your password?</a>
                </li>
                <li>
                  <a href="#">Other issues with Sign-In</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div
        class="col-sm-12 col-md-6 col-lg-4 mx-auto text-center mt-4 mb-2 MM_newToAmazon"
      >
        <p><span> New to Amazon? </span></p>
        <a [routerLink]="['/register']">
          <button type="submit" class="btn bg-gradient col-12 p-1">
            Create your Amazon account
          </button></a
        >
      </div>
    </div>
    <div class="row">
      <div
        class="col-sm-12 col-md-8 col-lg-6 mx-auto text-center MM_buttomRights"
      >
        <hr />
        <a href="#">Conditions</a>
        <a href="#">Privacy Notice</a>
        <a href="#">Help</a>
        <p class="mt-3 text-muted">
          © 1996-2021, Amazon.com, Inc. or its affiliates
        </p>
      </div>
    </div>
  </div>
</div>
