<div dir="auto" class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mx-3 mt-3">
      <li class="breadcrumb-item">
        <a [routerLink]="['/cart']" style="text-decoration: none">{{
          "CHECKOUT.CART" | translate
        }}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ "CHECKOUT.CONFIRMATION" | translate }}
      </li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-9">
      <div class="card my-2 border-0">
        <div class="card-body">
          <h3 class="card-title mb-5 text-center">
            {{ "CHECKOUT.CONFIRMATION" | translate }} ({{ totalQuantity }}
            {{ "CHECKOUT.ITEMS" | translate }}
            )
          </h3>

          <div class="row">
            <div class="col-12">
              <span class="fw-bold"
                >1 -
                {{ "CHECKOUT.SHIPPING_ADDRESS" | translate }}
              </span>
              <div
                class="d-flex justify-content-start form-check form-switch my-3"
              >
                <label class="form-check-label me-5" for="addNewAddress">
                  {{ "CHECKOUT.ADD_SHIPPING_ADDRESS" | translate }}
                </label>
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="addNewAddress"
                  (click)="onAddNewAddress()"
                />
              </div>
              <form
                *ngIf="addNewShipping"
                #addressForm="ngForm"
                class="row g-3 mt-1"
              >
                <div class="w-50">
                  <label for="" class="form-label">
                    {{ "CHECKOUT.COUNTRY" | translate }}
                  </label>
                  <input
                    required
                    #txtInputCountry="ngModel"
                    [(ngModel)]="addNewUserAddress.country"
                    type="text"
                    class="form-control"
                    name="country"
                    id="country"
                  />
                </div>
                <div class="w-50">
                  <label for="" class="form-label">
                    {{ "CHECKOUT.CITY" | translate }}
                  </label>
                  <input
                    required
                    #txtInputCity="ngModel"
                    [(ngModel)]="addNewUserAddress.city"
                    type="text"
                    class="form-control"
                    name="city"
                    id="city"
                  />
                </div>
                <div class="w-50">
                  <label for="" class="form-label">
                    {{ "CHECKOUT.STATE" | translate }}
                  </label>
                  <input
                    #txtInputState="ngModel"
                    [(ngModel)]="addNewUserAddress.state"
                    type="text"
                    class="form-control"
                    name="state"
                    id="state"
                  />
                </div>
                <div class="w-50">
                  <label for="" class="form-label">
                    {{ "CHECKOUT.POSTAL_CODE" | translate }}
                  </label>
                  <input
                    #txtInputPostalCode="ngModel"
                    [(ngModel)]="addNewUserAddress.postalCode"
                    type="number"
                    class="form-control"
                    name="postalCode"
                    id="postalCode"
                  />
                </div>
                <div class="col-12">
                  <label for="" class="form-label">
                    {{ "CHECKOUT.STREET_DETAILS" | translate }}
                  </label>
                  <input
                    required
                    #txtInputStreet="ngModel"
                    [(ngModel)]="addNewUserAddress.street"
                    type="text"
                    class="form-control"
                    name="street"
                    id="street"
                  />
                </div>
                <div class="MM_subTotal">
                  <span class="me-2">
                    {{ "CHECKOUT.SAVE_ADDRESS" | translate }}
                  </span>
                  <button
                    style="vertical-align: baseline"
                    (click)="onAddUserAddress(addressForm)"
                    type="submit"
                    class="btn p-1 px-3 mb-3"
                    [disabled]="addressForm.invalid"
                  >
                    {{ "CHECKOUT.YES" | translate }}
                  </button>
                </div>
              </form>
              <p class="fw-bold mt-3">
                {{ "CHECKOUT.SELECT_SHIPPING_ADDRESS" | translate }}
              </p>
              <div class="d-flex justify-content-start form-check w-75">
                <div
                  class="media border p-5 mb-3"
                  *ngFor="let address of addresses"
                >
                  <label class="form-check-label media-body" for="address">
                    <div>
                      <span class="fw-bold" style="font-size: 0.8rem">
                        {{ "CHECKOUT.COUNTRY" | translate }}
                      </span>
                      {{ address.country }}
                    </div>
                    <div>
                      <span class="fw-bold" style="font-size: 0.8rem">
                        {{ "CHECKOUT.CITY" | translate }}
                      </span>
                      {{ address.city }}
                    </div>
                    <div *ngIf="address.state">
                      <span class="fw-bold" style="font-size: 0.8rem">
                        {{ "CHECKOUT.STATE" | translate }}
                      </span>
                      {{ address.state }}
                    </div>
                    <div *ngIf="address.state">
                      <span class="fw-bold" style="font-size: 0.8rem">
                        {{ "CHECKOUT.POSTAL_CODE" | translate }}
                      </span>
                      {{ address.postalCode }}
                    </div>
                    <div>
                      <span class="fw-bold" style="font-size: 0.8rem">
                        {{ "CHECKOUT.STREET_DETAILS" | translate }}
                      </span>
                      {{ address.street }}
                    </div>
                  </label>

                  <input
                    class="form-check-input"
                    (change)="onCheckAddress()"
                    [(ngModel)]="selectedAddress"
                    [value]="address"
                    type="radio"
                    id="address"
                  />
                </div>
              </div>

              <hr />
            </div>

            <div class="col-12">
              <span class="fw-bold"
                >2 - {{ "CHECKOUT.REVIEW_ITEMS" | translate }}</span
              >
              <div class="card my-3">
                <div class="card-body">
                  <!-- <h3 class="card-title m-0">Shopping Cart</h3> -->
                  <span class="float-end text-muted">
                    {{ "CHECKOUT.PRICE" | translate }}
                  </span>
                  <div style="clear: both"></div>
                  <hr />
                  <div
                    class="row MM_shoppingCart my-3"
                    *ngFor="let item of cartArray"
                  >
                    <div class="col-auto">
                      <a class="ms-3" href="#">
                        <img
                          [src]="item.productImages[0]"
                          alt=""
                          [style.width.px]="250"
                        />
                      </a>
                    </div>

                    <div class="col-auto p-5">
                      <div class="d-flex justify-content-start">
                        <span class="fs-5 mx-2">{{ item.productName }}</span>
                        <span class="fs-5 fw-bold">
                          {{ item.productPrice.finalPrice | currency }}</span
                        >
                      </div>
                      <div *ngIf="item.productStock <= 20" class="text-danger">
                        {{ "CHECKOUT.ONLY" | translate }}
                        {{ item.productStock }}

                        {{ "CHECKOUT.LEFT_IN_STOCK" | translate }}
                      </div>
                      <div class="text-muted" style="font-size: 0.8rem">
                        {{ "CHECKOUT.SHIPPED_FROM" | translate
                        }}<span> Amazon.com </span>
                      </div>

                      <div>
                        <span class="dropdown">
                          <select
                            [(ngModel)]="item.quantity"
                            (change)="updateQuantityPrice()"
                            class="btn btn-light dropdown-toggle p-1 shadow-sm"
                            id="dropdownMenuButton"
                          >
                            <option [ngValue]="1">1</option>
                            <option [ngValue]="2">2</option>
                            <option [ngValue]="3">3</option>
                            <option [ngValue]="4">4</option>
                            <option [ngValue]="5">5</option>
                          </select>
                        </span>
                        <!-- <span class="MM_itemOptions"> -->
                        <button
                          (click)="deleteItem(item)"
                          class="btn btn-danger py-0 mx-2"
                        >
                          {{ "CHECKOUT.DELETE" | translate }}
                        </button>
                        <!-- <a href="#">Save for later</a>
                          <a href="#">Compare with similar items</a> -->
                        <!-- </span> -->
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <hr />
                      <span class="fs-5"
                        >{{ "CHECKOUT.TOTAL" | translate }} ({{ totalQuantity }}
                        {{ "CHECKOUT.ITEM" | translate }}
                        ):
                      </span>
                      <span class="fw-bold">
                        {{ totalPrice | currency }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12">
              <p class="fw-bold mt-3">
                {{ "CHECKOUT.PAYMENT_METHODS" | translate }}
              </p>

              <div class="card-group">
                <div class="card" *ngFor="let paymentMethod of paymentMethods">
                  <img
                    [src]="paymentMethod.img"
                    class="card-img-top p-3 mx-auto"
                    alt="..."
                    height="120px"
                    style="max-width: 230px"
                  />

                  <div class="card-footer">
                    <small class="text-muted">
                      {{ paymentMethod.paymentMethodType }}
                    </small>
                  </div>
                </div>
              </div>
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="row">
        <div class="col-12 MM_subTotal">
          <div class="card my-3">
            <div class="card-body">
              <button
                (click)="onConfirm()"
                [routerLink]="['/place-order']"
                class="btn p-1 my-2 col-12 place-order"
                [disabled]="totalQuantity === 0 || isSelectedAddress === false"
              >
                {{ "CHECKOUT.CONTINUE_PAYMENT" | translate }}
              </button>

              <p class="privacy text-center">
                {{ "CHECKOUT.AMAZON_PRIVACY_POLICY" | translate }}
              </p>
              <hr />
              <div class="order-summary">
                <table class="table table-borderless caption-top">
                  <caption class="text-center">
                    <p class="fs-5">
                      {{ "CHECKOUT.ORDER_SUMMARY" | translate }}
                    </p>
                  </caption>
                  <tbody>
                    <tr>
                      <th scope="row">
                        <span>
                          {{ "CHECKOUT.ITEMS" | translate }}
                          ({{ totalQuantity }}):</span
                        >
                      </th>
                      <td>
                        <span class="" *ngIf="totalPrice > 0">
                          {{ totalPrice | currency }}
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <span>
                          {{ "CHECKOUT.SHIPPING_HANDLING" | translate }}
                        </span>
                      </th>
                      <td>
                        <span class="" *ngIf="totalPrice > 0">{{
                          shipping + handling | currency
                        }}</span>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <span>
                          {{ "CHECKOUT.TOTAL_BEFORE_TAX" | translate }}:
                        </span>
                      </th>
                      <td>
                        <span class="" *ngIf="totalPrice > 0">{{
                          totalPrice + shipping + handling | currency
                        }}</span>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <span>
                          {{ "CHECKOUT.TAX" | translate }}
                        </span>
                      </th>
                      <td>
                        <span class="" *ngIf="totalPrice > 0">{{
                          tax_total | currency
                        }}</span>
                      </td>
                    </tr>
                    <tr class="border-top">
                      <th scope="row">
                        <span class="text-danger">
                          {{ "CHECKOUT.ORDER_TOTAL" | translate }}:
                        </span>
                      </th>
                      <td>
                        <span class="" *ngIf="totalPrice > 0">
                          {{ total_amount | currency }}
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <!-- <p class="mt-3">
                  <span>
                    {{ "CHECKOUT.ITEMS" | translate }}
                    ({{ totalQuantity }}):</span
                  >
                  <span class="" *ngIf="totalPrice > 0">
                    {{ totalPrice | currency }}
                  </span>
                </p>
                <p>
                  <span>
                    {{ "CHECKOUT.SHIPPING_HANDLING" | translate }}
                  </span>
                  <span class="" *ngIf="totalPrice > 0">{{
                    shipping + handling | currency
                  }}</span>
                </p>
                <p>
                  <span>
                    {{ "CHECKOUT.TOTAL_BEFORE_TAX" | translate }}
                  </span>
                  <span class="" *ngIf="totalPrice > 0">{{
                    totalPrice + shipping + handling | currency
                  }}</span>
                </p>
                <p>
                  <span>
                    {{ "CHECKOUT.TAX" | translate }}
                  </span>
                  <span class="" *ngIf="totalPrice > 0">{{
                    tax_total | currency
                  }}</span>
                </p>
                <hr />
                <p class="text-danger fs-5">
                  <span>
                    {{ "CHECKOUT.ORDER_TOTAL" | translate }}
                  </span>
                  <span class="" *ngIf="totalPrice > 0">
                    {{ total_amount | currency }}
                  </span>
                </p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
