<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <div class="card my-3 border-0">
        <div class="card-body">
          <h3 class="card-title mb-5 text-center">Checkout (2 items)</h3>

          <div class="row ">
            <div class="col-12">
              <span class="fw-bold">1 Shipping address</span>

              <hr>
            </div>

            <div class="col-12">
              <span class="fw-bold">2 Payment method</span>
              <form #addressForm="ngForm" class="row g-3 mt-1">
                <div class="col-12">


                  <span>
                    <label for="exampleFormControlInput1" class="form-label ">Select PaymentMethod:</label>
                    <select [(ngModel)]="addPaymentMethod.paymentMethod" class="form-select w-25"
                      aria-label="Default select example" name="ddl" id="">
                      <option value="Paypal">Paypal</option>
                      <option value="Debit Card">Debit Card</option>
                      <option value="Credit Card">Credit Card</option>
                      <option value="Cash on Delivery">Cash on Delivery</option>
                    </select>
                  </span>
                  <span
                    *ngIf="addPaymentMethod.paymentMethod!=='Paypal' && addPaymentMethod.paymentMethod!=='Cash on Delivery'">
                    <div class="w-25">
                      <label for="" class="form-label">Select Card Company:</label>
                      <select [(ngModel)]="addPaymentMethod.cardCompany" class="form-select"
                        aria-label="Default select example" name="cardcompany" id="cardcompany">
                        <option value="MasterCard">MasterCard</option>
                        <option value="Visa">Visa</option>

                      </select>
                    </div>

                    <div class="w-25">
                      <label for="" class="form-label">Card Owner Name:</label>
                      <input required #txtInputCardOwner="ngModel" [(ngModel)]="addPaymentMethod.cardOwnerName"
                        type="text" class="form-control" name="cardowner" id="cardowner">
                    </div>

                    <div class="w-25">
                      <label for="" class="form-label">Card Ending Number:</label>
                      <input required #txtInputCardEndingNum="ngModel" [(ngModel)]="addPaymentMethod.cardEndingNum"
                        type="text" class="form-control" name="cardendingnum" id="cardendingnum">
                    </div>

                    <div class="w-25">
                      <label for="" class="form-label">Card Expiration Date (MM/YYYY):</label>
                      <input required #txtInputCardExpire="ngModel" [(ngModel)]="addPaymentMethod.cardExpires"
                        type="text" class="form-control" name="cardexpire" id="cardexpire">
                    </div>
                  </span>

                  <div *ngIf="addPaymentMethod.paymentMethod==='Paypal'">
                    <div class="w-25">
                      <label for="" class="form-label">Paypal Account Name:</label>
                      <input required #txtInputPaypalAccount="ngModel" [(ngModel)]="addPaymentMethod.paypalAccountName"
                        type="text" class="form-control" name="paypalaccount" id="paypalaccount">
                    </div>
                  </div>


                </div>


                <div *ngIf="addPaymentMethod.paymentMethod!=='Cash on Delivery'" class="col-12">
                  <span class="me-2">Save Payment Method?</span>
                  <button style="vertical-align:baseline" (click)="onAddPaymentMethod()" type="submit"
                    class="btn btn-secondary mb-3" [disabled]="addressForm.invalid">Yes</button>
                </div>
              </form>
              <p class="fw-bold">Saved PaymentMethods:</p>
              <div class="media border p-3 mb-3" *ngFor="let paymentMethod of paymentMethods">
                <div class="media-body">
                  <span>{{paymentMethod.cardCompany}} ({{paymentMethod.paymentMethod}})
                  </span>
                  <span *ngIf="paymentMethod.cardEndingNum"> - Ending in {{paymentMethod.cardEndingNum}}</span>
                  <p class="fw-bold text-muted" *ngIf="paymentMethod.cardOwnerName"> Card owner:
                    {{paymentMethod.cardOwnerName}}
                  </p>
                  <p class="fw-bold text-muted" *ngIf="paymentMethod.paypalAccountName"> Paypal Account:
                    {{paymentMethod.paypalAccountName}}
                  </p>
                </div>
              </div>
              <hr>
            </div>
            <div class="col-12">
              <span class="fw-bold">3 Review items and shipping</span>
            </div>
          </div>
        </div>
      </div>




    </div>

    <div class="col-md-3">
      <div class="row">
        <div class="col-12 MM_subTotal">
          <div class="card my-3">
            <div class="card-body">
              <button class="btn bg-gradient p-1 my-2 col-12">
                Place your order
              </button>
              <p class="privacy text-center">By placing your order, you agree to Amazon.com's <a href="#">privacy
                  notice</a> and
                <a href="#">conditions of
                  use.</a>
              </p>
              <hr>
              <div class="order-summary">
                <span class="fs-5 ">Order Summary</span>
                <p class="mt-3">
                  <span>Items (2):</span>
                  <span class="float-end">$140</span>
                </p>
                <p>
                  <span>Shipping & handling:</span>
                  <span class="float-end">0</span>
                </p>
                <p>
                  <span>Total before tax:</span>
                  <span class="float-end">$140</span>
                </p>
                <p>
                  <span>Estimated tax to be collected:</span>
                  <span class="float-end">0</span>
                </p>
                <hr>
                <p class="text-danger fs-5">
                  <span>Order total:</span>
                  <span class="float-end">$150</span>
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>
