.privacy {
  font-size: 0.75rem;
  // a {
  //   text-decoration: none;
  // }
}

.order-summary {
  font-size: 0.9rem;
}

.customized-btn {
  background-color: #fac745;
  &:hover {
    background-color: #ffd95d;
  }
}
