
  <section class="container-fluid pb-5">
    <div class="row">
      <div class="col-2" id="AA_sideNavCol">
      <app-side-nav></app-side-nav>
      </div>
      <div class="col-10 ">
        <div class="row g-3 container">
          <div class="col-12"><img class="img-fluid w-100"
              src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Events/2020/PrimeDay/Fuji_LPHero_PDNonPrime_v2_en_US.jpg">
          </div>
          <div class="col-12 text-center py-2">
            <h4>Computers & Accessories</h4>
          </div>
          <div class="col-3 pb-2">
            <a href="#">
              <div class="card bg-dark text-white dep-card">
                <img
                  src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Events/2020/PrimeDay/LandingPages/91S1naupylL_harddrive._CB403556433_.jpg"
                  class="card-img" alt="External Hard Disk">
                <div class="card-img-overlay">

                </div>
              </div>
            </a></div>
          <div class="col-3 pb-2">
            <a href="#">
              <div class="card bg-dark text-white dep-card">
                <img
                  src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Events/2020/PrimeDay/LandingPages/258726044.jpg"
                  class="card-img" alt="Laptops">
                <div class="card-img-overlay">

                </div>
              </div>
            </a></div>
          <div class="col-3 pb-2">
            <a href="#">
              <div class="card bg-dark text-white dep-card">
                <img
                  src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Events/2020/PrimeDay/LandingPages/tablet.jpg"
                  class="card-img" alt="Tablets">
                <div class="card-img-overlay">

                </div>
              </div>
            </a></div>
          <div class="col-3 pb-2">
            <a href="#">
              <div class="card bg-dark text-white dep-card">
                <img
                  src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Events/2020/PrimeDay/LandingPages/61se5nkFVkL._CB403556432_.jpg"
                  class="card-img" alt="Internal State Drivers">
                <div class="card-img-overlay">

                </div>
              </div>
            </a></div>

          <div class="col-3 pb-2">
            <a href="#">
              <div class="card bg-dark text-white dep-card">
                <img alt="Board Games"
                  src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Events/2020/PrimeDay/LandingPages/71Wn4x5doxL_boardgame._CB403556433_.jpg"
                  class="card-img">
                <div class="card-img-overlay">

                </div>
              </div>
            </a></div>
          <div class="col-3 pb-2">
            <a href="#">
              <div class="card bg-dark text-white dep-card">
                <img alt="Figures"
                  src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Events/2020/PrimeDay/LandingPages/71DZGf5PXL_toys.jpg"
                  class="card-img">
                <div class="card-img-overlay">

                </div>
              </div>
            </a></div>
          <div class="col-3 pb-2">
            <a href="#">
              <div class="card bg-dark text-white dep-card">
                <img alt="Card Games"
                  src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Events/2020/PrimeDay/LandingPages/81JeIF4PL_cards._CB403556433_.jpg"
                  class="card-img">
                <div class="card-img-overlay">

                </div>
              </div>
            </a></div>
          <div class="col-3 pb-2">
            <a href="#">
              <div class="card bg-dark text-white dep-card">
                <img alt="Video Games"
                  src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Events/2020/PrimeDay/LandingPages/663218446.jpg"
                  class="card-img">
                <div class="card-img-overlay">

                </div>
              </div>
            </a></div>

          <div class="col-3 pb-2">
            <a href="#">
              <div class="card bg-dark text-white dep-card">
                <img alt="Mobile Phones"
                  src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Events/2020/PrimeDay/LandingPages/385336660.jpg"
                  class="card-img">
                <div class="card-img-overlay">

                </div>
              </div>
            </a></div>
          <div class="col-3 pb-2">
            <a href="#">
              <div class="card bg-dark text-white dep-card">
                <img alt="Fitness GPS"
                  src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Events/2020/PrimeDay/LandingPages/71q48i0pGcL_gps.jpg"
                  class="card-img">
                <div class="card-img-overlay">

                </div>
              </div>
            </a></div>
          <div class="col-3 pb-2">
            <a href="#">
              <div class="card bg-dark text-white dep-card">
                <img alt="Cases"
                  src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Events/2020/PrimeDay/LandingPages/61Rrv-bvdhL.jpg"
                  class="card-img">
                <div class="card-img-overlay">

                </div>
              </div>
            </a></div>
          <div class="col-3 pb-2">
            <a href="#">
              <div class="card bg-dark text-white dep-card">
                <img alt="Smart Watches"
                  src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Events/2020/PrimeDay/LandingPages/71NWRdNUfYL_smartwatch.jpg"
                  class="card-img">
                <div class="card-img-overlay">

                </div>
              </div>
            </a></div>

          <div class="col-3 pb-2">
            <a href="#">
              <div class="card bg-dark text-white dep-card">
                <img alt="Apparel"
                  src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Events/2020/PrimeDay/LandingPages/710o-7KtkL_apparel.jpg"
                  class="card-img">
                <div class="card-img-overlay">

                </div>
              </div>
            </a></div>
          <div class="col-3 pb-2">
            <a href="#">
              <div class="card bg-dark text-white dep-card">
                <img alt="Shoes"
                  src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Events/2020/PrimeDay/LandingPages/91u2Ld8rCxL_shoes.jpg"
                  class="card-img">
                <div class="card-img-overlay">

                </div>
              </div>
            </a></div>
          <div class="col-3 pb-2">
            <a href="#">
              <div class="card bg-dark text-white dep-card">
                <img alt="Jewelry"
                  src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Events/2020/PrimeDay/LandingPages/71xUBHOzthL_jewelry.jpg"
                  class="card-img">
                <div class="card-img-overlay">

                </div>
              </div>
            </a></div>
          <div class="col-3 pb-2">
            <a href="#">
              <div class="card bg-dark text-white dep-card">
                <img alt="Watches"
                  src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Events/2020/PrimeDay/LandingPages/71gzVkDAlXL.jpg"
                  class="card-img">
                <div class="card-img-overlay">

                </div>
              </div>
            </a></div>
          <div class="col-12"><img class="img-fluid w-100"
              src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Events/2020/PrimeDay/Fuji_LP_Stripe_Home_v3_en_US.jpg">
          </div>
          

          <div class="col-3 pb-2">
            <a href="#">
              <div class="card bg-dark text-white dep-card">
                <img alt="Tablecloths"
                  src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/March/Fuji_Passover_Tablecloth2._CB422372530_.jpg"
                  class="card-img">
                <div class="card-img-overlay">

                </div>
              </div>
            </a></div>
          <div class="col-3 pb-2">
            <a href="#">
              <div class="card bg-dark text-white dep-card">
                <img alt="Cutlery"
                  src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/March/Fuji_Passover_Cutlery_v3._CB422560501_.jpg"
                  class="card-img">
                <div class="card-img-overlay">

                </div>
              </div>
            </a></div>
          <div class="col-3 pb-2">
            <a href="#">
              <div class="card bg-dark text-white dep-card">
                <img alt="Napkins"
                  src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/March/Fuji_Passover_Napkins_v2._CB422559805_.jpg"
                  class="card-img">
                <div class="card-img-overlay">

                </div>
              </div>
            </a></div>
          <div class="col-3 pb-2">
            <a href="#">
              <div class="card bg-dark text-white dep-card">
                <img alt="Dinnerware"
                  src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/March/Fuji_Passover_Dinnerware_v2._CB422559827_.jpg"
                  class="card-img">
                <div class="card-img-overlay">

                </div>
              </div>
            </a></div>

          <div class="col-3 pb-2">
            <a href="#">
              <div class="card bg-dark text-white dep-card">
                <img alt="Small Appliances"
                  src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/March/Fuji_Passover_Mixer._CB422563791_.jpg"
                  class="card-img">
                <div class="card-img-overlay">

                </div>
              </div>
            </a></div>
          <div class="col-3 pb-2">
            <a href="#">
              <div class="card bg-dark text-white dep-card">
                <img alt="Cookware"
                  src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/March/Fuji_Passover_Cookware_v4._CB422562809_.jpg"
                  class="card-img">
                <div class="card-img-overlay">

                </div>
              </div>
            </a></div>
          <div class="col-3 pb-2">
            <a href="#">
              <div class="card bg-dark text-white dep-card">
                <img alt="Kitchen Utensils"
                  src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/March/Fuji_Passover_Utensils._CB422563752_.jpg"
                  class="card-img">
                <div class="card-img-overlay">

                </div>
              </div>
            </a></div>
          <div class="col-3 pb-2">
            <a href="#">
              <div class="card bg-dark text-white dep-card">
                <img alt="Serving Dishes"
                  src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/March/Fuji_Passover_ServingDish_v3._CB422562226_.jpg"
                  class="card-img">
                <div class="card-img-overlay">

                </div>
              </div>
            </a></div>

          <div class="col-3 pb-2">
            <a href="#">
              <div class="card bg-dark text-white dep-card">
                <img alt="String Lights"
                  src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/March/Fuji_Passover_Lights._CB422372551_.jpg"
                  class="card-img">
                <div class="card-img-overlay">

                </div>
              </div>
            </a></div>
          <div class="col-3 pb-2">
            <a href="#">
              <div class="card bg-dark text-white dep-card">
                <img alt="Centerpieces"
                  src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/March/Fuji_Passover_Centerpieces._CB422372376_.jpg"
                  class="card-img">
                <div class="card-img-overlay">

                </div>
              </div>
            </a></div>
          <div class="col-3 pb-2">
            <a href="#">
              <div class="card bg-dark text-white dep-card">
                <img alt="Garland"
                  src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/March/Fuji_Passover_Garland._CB422372579_.jpg"
                  class="card-img">
                <div class="card-img-overlay">

                </div>
              </div>
            </a></div>
          <div class="col-3 pb-2">
            <a href="#">
              <div class="card bg-dark text-white dep-card">
                <img alt="Candles"
                  src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/March/Fuji_Passover_Candles._CB422561165_.jpg"
                  class="card-img">
                <div class="card-img-overlay">

                </div>
              </div>
            </a></div>
        </div>

      </div>
    </div>
  </section>


 