<!-- Mounir -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark MM_navOne" id="top">
  <div class="container-fluid">
    <a class="navbar-brand m-0 text-center" [routerLink]="['']">
      <img
        src="../../../assets/images/logo/Amazon_white_logo.png"
        alt=""
        style="width: 100px"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 MM_NavbarItems">
        <li class="nav-item">
          <a
            class="nav-link active mx-2"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            aria-current="page"
            href=""
          >
            <span class="text-white-50" style="white-space: nowrap"
              >Deliver to</span
            >
            <i class="fas fa-map-marker-alt"></i> Egypt
          </a>
          <!-- Modal -->
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog w-25">
              <div class="modal-content">
                <div
                  class="modal-header bg-gradient"
                  style="background-color: #f0f0f0"
                >
                  <h5 class="modal-title" id="exampleModalLabel">
                    Choose your location
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-12">
                      <div>
                        Delivery options and delivery speeds may vary for
                        different locations
                      </div>
                      <div class="text-center">
                        <button
                          type="button"
                          class="btn bg-gradient mt-3 p-1 w-75"
                          style="background-color: #ffd04f; font-size: 1em"
                        >
                          Sign in to see your addresses
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn bg-gradient"
                    data-bs-dismiss="modal"
                    style="background-color: #ffd04f"
                  >
                    Done
                  </button>
                </div>
              </div>
            </div>
          </div>
        </li>
        <!-- action="searchResult.html"  -->
        <!-- [routerLink]="['/search-results']" -->
        <form class="d-flex MM_SearchInput ms-2 me-3">
          <div class="input-group">
            <select class="form-select" aria-label="Default select example">
              <option selected disabled>All</option>
              <option value="search-alias=aps">All Departments</option>
              <option value="search-alias=arts-crafts-intl-ship">
                Arts & Crafts
              </option>
              <option value="search-alias=automotive-intl-ship">
                Automotive
              </option>
              <option value="search-alias=baby-products-intl-ship">Baby</option>
              <option value="search-alias=beauty-intl-ship">
                Beauty & Personal Care
              </option>
              <option value="search-alias=stripbooks-intl-ship">Books</option>
              <option value="search-alias=computers-intl-ship">
                Computers
              </option>
              <option value="search-alias=digital-music">Digital Music</option>
              <option value="search-alias=electronics-intl-ship">
                Electronics
              </option>
              <option value="search-alias=digital-text">Kindle Store</option>
              <option value="search-alias=instant-video">Prime Video</option>
              <option value="search-alias=fashion-womens-intl-ship">
                Women's Fashion
              </option>
              <option value="search-alias=fashion-mens-intl-ship">
                Men's Fashion
              </option>
              <option value="search-alias=fashion-girls-intl-ship">
                Girls' Fashion
              </option>
              <option value="search-alias=fashion-boys-intl-ship">
                Boys' Fashion
              </option>
              <option value="search-alias=deals-intl-ship">Deals</option>
              <option value="search-alias=hpc-intl-ship">
                Health & Household
              </option>
              <option value="search-alias=kitchen-intl-ship">
                Home & Kitchen
              </option>
              <option value="search-alias=industrial-intl-ship">
                Industrial & Scientific
              </option>
              <option value="search-alias=luggage-intl-ship">Luggage</option>
              <option value="search-alias=movies-tv-intl-ship">
                Movies & TV
              </option>
              <option value="search-alias=music-intl-ship">
                Music, CDs & Vinyl
              </option>
              <option value="search-alias=pets-intl-ship">Pet Supplies</option>
              <option value="search-alias=software-intl-ship">Software</option>
              <option value="search-alias=sporting-intl-ship">
                Sports & Outdoors
              </option>
              <option value="search-alias=tools-intl-ship">
                Tools & Home Improvement
              </option>
              <option value="search-alias=toys-and-games-intl-ship">
                Toys & Games
              </option>
              <option value="search-alias=videogames-intl-ship">
                Video Games
              </option>
            </select>

            <!-- #searchInput -->
            <input
              [(ngModel)]="searchString"
              class="form-control w-50"
              type="search"
              placeholder="Search"
              aria-label="Search"
              name="searchInput"
            />
            <span class="input-group-text MM_bg-search" id="basic-addon1">
              <a [routerLink]="['/search-results', searchString]">
                <i class="fas fa-search" style="color: #000"></i>
              </a>
            </span>
          </div>
        </form>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href=""
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img [src]="langFlag" alt="" srcset="" width="30px" />
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <div class="mx-2 form-check">
                <input
                  #inputEnglish
                  class="form-check-input"
                  type="radio"
                  (change)="toggle(inputEnglish)"
                  name="lang"
                  id="english-lang"
                  checked
                />
                <label class="form-check-label" for="english-lang">
                  English
                </label>
              </div>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <div class="mx-2 form-check">
                <input
                  #inputArabic
                  class="form-check-input"
                  type="radio"
                  (change)="toggle(inputArabic)"
                  name="lang"
                  id="arabic-lang"
                />
                <label class="form-check-label" for="arabic-lang">
                  Arabic
                </label>
              </div>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-white"
            href=""
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span>Hello, Sign in</span>
            Account & Lists
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="text-center MM_SignIn">
              <a [routerLink]="['/login']"
                ><button type="button" class="btn bg-gradient">
                  Sign In
                </button></a
              >
              <br />
              <span class="my-1"
                >New customer? <a [routerLink]="['/register']"> Start here. </a>
              </span>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <ul class="MM_ulDropDown">
              <li>
                <a class="dropdown-item" href="">Create a List</a>
              </li>
              <li>
                <a class="dropdown-item" href="">Find a List or Registry</a>
              </li>
              <li>
                <a class="dropdown-item" href="">AmazonSmile Charity Lists</a>
              </li>
            </ul>
            <li>
              <hr class="dropdown-divider" />
            </li>

            <ul class="MM_ulDropDown">
              <li>
                <a class="dropdown-item" href="">Account</a>
              </li>
              <li>
                <a class="dropdown-item" href="">Orders</a>
              </li>
              <li>
                <a class="dropdown-item" href="">Recommendations</a>
              </li>
              <li>
                <a class="dropdown-item" href="">Browsing History</a>
              </li>
              <li>
                <a class="dropdown-item" href="">Watchlist</a>
              </li>
              <li>
                <a class="dropdown-item" href="">Video Purchases & Rentals</a>
              </li>
              <li>
                <a class="dropdown-item" href="">Kindle Unlimited</a>
              </li>
              <li>
                <a class="dropdown-item" href="">Content & Devices</a>
              </li>
              <li>
                <a class="dropdown-item" href="">Subscribe & Save Items</a>
              </li>
              <li>
                <a class="dropdown-item" href="">Memberships & Subscriptions</a>
              </li>
              <li>
                <a class="dropdown-item" href="">Music Library</a>
              </li>
            </ul>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="" style="white-space: nowrap">
            <span>Returns</span>& Orders</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link MM_Cart"
            [routerLink]="['/cart']"
            style="white-space: nowrap"
          >
            <div style="color: #f08804; font-size: 1.3em">
              &nbsp;&nbsp;&nbsp;{{ totalQuantity }}
            </div>
            <i class="fas fa-shopping-cart text-white" style="font-size: 25px">
            </i>
            <span class="text-white">Cart</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Amr -->
<div id="overlay" onclick="AH_closeNav()"></div>
<div id="AH_Sidenav">
  <div id="AH_sidenav-head">
    <a
      [routerLink]="['/login']"
      class="text-white ps-4 py-3 fs-4 fw-bold AH_Sidenav-header d-block text-decoration-none"
    >
      <i class="fas fa-user-circle"></i> Hello, Sign in</a
    >
    <span style="cursor: pointer" id="AH_closebtn" onclick="AH_closeNav()"
      >&times;</span
    >
  </div>
  <div class="position-relative">
    <div class="AH_sidenav-body pt-3 row">
      <h5>Digital Content & Devices</h5>
      <div class="AH_sidenav-link row">
        <div class="col-11">Amazon Music</div>
        <div class="col-1"><i class="fas fa-chevron-right"></i></div>
      </div>
      <div class="AH_sidenav-link row">
        <div class="col-11">Kindle E-readers & Books</div>
        <div class="col-1"><i class="fas fa-chevron-right"></i></div>
      </div>
      <div class="AH_sidenav-link row">
        <div class="col-11">Appstore for Android</div>
        <div class="col-1"><i class="fas fa-chevron-right"></i></div>
      </div>
      <hr />
      <h5>Shop By Department</h5>
      <div class="AH_sidenav-link col-12 row">
        <div class="col-11">Electronics</div>
        <div class="col-1"><i class="fas fa-chevron-right"></i></div>
      </div>
      <div class="AH_sidenav-link col-12 row">
        <div class="col-11">Computers</div>
        <div class="col-1"><i class="fas fa-chevron-right"></i></div>
      </div>
      <div class="AH_sidenav-link col-12 row">
        <div class="col-11">Smart Home</div>
        <div class="col-1"><i class="fas fa-chevron-right"></i></div>
      </div>
      <div class="AH_sidenav-link col-12 row">
        <div class="col-11">Arts & Crafts</div>
        <div class="col-1"><i class="fas fa-chevron-right"></i></div>
      </div>
      <div id="shopSeeMore" class="col-12 row m-0 p-0">
        <hr class="w-75 m-auto" />
        <div class="AH_sidenav-link col-12 row">
          <div class="col-11">Automotive</div>
          <div class="col-1"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="AH_sidenav-link col-12 row">
          <div class="col-11">Baby</div>
          <div class="col-1"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="AH_sidenav-link col-12 row">
          <div class="col-11">Beauty and personal care</div>
          <div class="col-1"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="AH_sidenav-link col-12 row">
          <div class="col-11">Women's Fashion</div>
          <div class="col-1"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="AH_sidenav-link col-12 row">
          <div class="col-11">Men's Fashion</div>
          <div class="col-1"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="AH_sidenav-link col-12 row">
          <div class="col-11">Girls' Fashion</div>
          <div class="col-1"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="AH_sidenav-link col-12 row">
          <div class="col-11">Boys' Fashion</div>
          <div class="col-1"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="AH_sidenav-link col-12 row">
          <div class="col-11">Health and Household</div>
          <div class="col-1"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="AH_sidenav-link col-12 row">
          <div class="col-11">Home and Kitchen</div>
          <div class="col-1"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="AH_sidenav-link col-12 row">
          <div class="col-11">Industrial and Scientific</div>
          <div class="col-1"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="AH_sidenav-link col-12 row">
          <div class="col-11">Luggage</div>
          <div class="col-1"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="AH_sidenav-link col-12 row">
          <div class="col-11">Movies & Television</div>
          <div class="col-1"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="AH_sidenav-link col-12 row">
          <div class="col-11">Pet supplies</div>
          <div class="col-1"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="AH_sidenav-link col-12 row">
          <div class="col-11">Software</div>
          <div class="col-1"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="AH_sidenav-link col-12 row">
          <div class="col-11">Sports and Outdoors</div>
          <div class="col-1"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="AH_sidenav-link col-12 row">
          <div class="col-11">Tools & Home Improvement</div>
          <div class="col-1"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="AH_sidenav-link col-12 row">
          <div class="col-11">Toys and Games</div>
          <div class="col-1"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="AH_sidenav-link col-12 row">
          <div class="col-11">Video Games</div>
          <div class="col-1"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="AH_sidenav-link row" onclick="shopSeeLess()">
          <div class="col-12 shopSeeMore">
            See Less <i class="fas fa-chevron-up"></i>
          </div>
        </div>
      </div>
      <div
        id="shopSeeMoreBtn"
        class="AH_sidenav-link row"
        onclick="shopSeeMore()"
      >
        <div class="col-12 shopSeeMore">
          See All <i class="fas fa-chevron-down"></i>
        </div>
      </div>
      <hr />
      <h5>Programs & Features</h5>
      <div class="AH_sidenav-link row">
        <div class="col-11">Gift Cards</div>
        <div class="col-1"><i class="fas fa-chevron-right"></i></div>
      </div>
      <div class="AH_sidenav-link row">
        <div class="col-11">#FounditOnAmazon</div>
        <div class="col-1"><i class="fas fa-chevron-right"></i></div>
      </div>
      <div class="AH_sidenav-link row">
        <div class="col-11">Amazon Live</div>
        <div class="col-1"><i class="fas fa-chevron-right"></i></div>
      </div>
      <div class="AH_sidenav-link row">
        <div class="col-11">International Shopping</div>
        <div class="col-1"><i class="fas fa-chevron-right"></i></div>
      </div>
      <div class="AH_sidenav-link row">
        <div class="col-11">Amazon Second Chance</div>
        <div class="col-1"><i class="fas fa-chevron-right"></i></div>
      </div>
      <div class="AH_sidenav-link row">
        <div class="col-11">Full Store Directory</div>
        <div class="col-1"><i class="fas fa-chevron-right"></i></div>
      </div>
      <hr />
      <h5>Help & Settings</h5>
      <div class="AH_sidenav-link row">
        <div class="col-11">Your Account</div>
        <div class="col-1"><i class="fas fa-chevron-right"></i></div>
      </div>
      <div class="AH_sidenav-link row">
        <div class="col-1"><i class="fas fa-globe"></i></div>
        <div class="col-11">English</div>
      </div>
      <div class="AH_sidenav-link row">
        <div class="col-1">
          <img
            class="AH_icon-img"
            src="../../../assets/images/icons/english.png"
            alt="US"
          />
        </div>
        <div class="col-11">United States</div>
      </div>
      <div class="AH_sidenav-link row">
        <div class="col-12">Help</div>
      </div>
      <div class="AH_sidenav-link row">
        <div class="col-12"><a [routerLink]="['/login']"> Sign In</a></div>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-sm" id="AH_nav">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            onclick="AH_openNav()"
            style="cursor: pointer"
            class="nav-link AH_link"
            aria-current="page"
            ><i class="fas fa-bars"></i> All</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link AH_link" aria-current="page" href=""
            >Today's Deals</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link AH_link"
            aria-current="page"
            [routerLink]="['/customer-service']"
            >Customer Service</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link AH_link" aria-current="page" href="">Gift Cards</a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="dropdown-toggle nav-link AH_link"
            href="#"
            id="dropdownMenuLink"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Sell
          </a>

          <ul class="dropdown-menu seller" aria-labelledby="dropdownMenuLink">
            <li class="dropdown-item">
              Become an Amazon seller? <a [routerLink]="['/seller','signup']">Register</a>
            </li>
            <li class="dropdown-item">
              Already an Amazon seller? <a [routerLink]="['/seller','login']">Login</a>
            </li>
            <li class="dropdown-item text-center">
              <a href="#">View Items</a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link AH_link" aria-current="page" href="">Registry</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
