
 
    <ul class="list-unstyled" id="AA_sideNavTop">


      <li class="AA_departments">Departments</li>
      <li>Deals</li>
      <li>Amazon Shopping</li>
      <li>Arts & Crafts</li>
      <li>Automotive</li>
      <li>Baby</li>
      <li>Beauty & Personal Care</li>
      <li>Books</li>
      <li>Computers</li>
      <li>Electronics</li>
      <li>Women's Fashion</li>
      <li>Men's Fashion</li>
      <li>Girls' Fashion</li>
      <li>Boys' Fashion</li>
      <li>Health & Household</li>
      <li>Home & Kitchen</li>
      <li>Industrial & Scientific</li>
      <li>Luggage</li>
      <li>Movies & Television</li>
      <li>Music, CDs & Vinyl</li>
      <li>Pet Supplies</li>
      <li>Software</li>
      <li>Sports & Outdoors</li>
      <li>Tools</li>
      <li>Toys & Games</li>
      <li>Video Games</li>
      <br><br>


    </ul>
    <ul class="list-unstyled" id="AA_sideNavBottom">
      <li id="AA_explore">Explore Best Sellers</li>
      <br>
      <li class="AA_department">Department</li>
      <br>
      <li><i class="fas fa-chevron-left"></i>Home & Kitchen</li>
      <li><i class="fas fa-chevron-left"></i>Electronics</li>
      <li><i class="fas fa-chevron-left"></i>Health, Household & Baby Care</li>
      <li><i class="fas fa-chevron-left"></i>Industrial & Scientific</li>
      <li><i class="fas fa-chevron-left"></i>Tools & Home </li>
      <li><i class="fas fa-chevron-left"></i>Beauty & Personal Care</li>
      <li><i class="fas fa-chevron-left"></i>Toys & Games</li>
      <li><i class="fas fa-chevron-left"></i>Cell Phones & Accessories</li>
      <li><i class="fas fa-chevron-left"></i>Sports & Outdoors</li>
      <li><i class="fas fa-chevron-left"></i>Clothing, Shoes & Jewelry</li>
      <li><i class="fas fa-chevron-left"></i>Office Products</li>
      <li><i class="fas fa-chevron-left"></i>Appliances</li>
      <li><i class="fas fa-chevron-left"></i>Baby</li>
      <li><i class="fas fa-chevron-left"></i>Video Games</li>
      <li><i class="fas fa-chevron-left"></i>Pet Supplies</li>
      <li><i class="fas fa-chevron-left"></i>Automotive Parts & Accessories</li>
      <li><i class="fas fa-chevron-left"></i>Musical Instruments</li>
      <li><i class="fas fa-chevron-left"></i>Arts, Crafts & Sewing</li>
      <li><i class="fas fa-chevron-left"></i>Garden & Outdoor</li>
      <li><i class="fas fa-chevron-left"></i>Grocery & Gourmet Food</li>
      <li><i class="fas fa-chevron-left"></i>Home & Business Services</li>
      <li><i class="fas fa-chevron-left"></i>CDs & Vinyl</li>
      <li><i class="fas fa-chevron-left"></i>Books</li>
    </ul>
    <br><br>

    <ul class="list-unstyled" id="AA_checkBoxList">
      <li id="AA_eligible">
        Eligible for Free Shipping
        <br><br>
      </li>
      <li>
        <input class="form-check-input me-1" type="checkbox" value="" aria-label="..." id="AA_freeShipping">
        FREE Shipping <br>
        All customers get FREE Shipping
        on orders over $25 shipped by
        Amazon
        <br><br>

      </li>

      <li id="AA_eligible">
        Amazon Prime
        <br><br>
      </li>
      <li>
        <input class="form-check-input me-1" type="checkbox" value="" aria-label="..." id="AA_freeShipping">
        <i class="fas fa-check" id="AA_checkIcon"></i> <span id="AA_prime"> Prime </span>
        <br><br>

      </li>

      <li id="AA_eligible">
        International Shipping
        <br><br>
      </li>
      <li>
        <input class="form-check-input me-1" type="checkbox" value="" aria-label="..." id="AA_freeShipping">
        International Shipping Eligible
        <br><br>

      </li>

    </ul>



 

