<div style="background-color: white">

  <div id="header " class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 d-flex align-items-center help-header">
      <div>
        <p class="h3">Dear, We're here to help!</p>
        <p class="h6">
          We’ll walk you through fixing most things here, or connect you to
          someone if you need more help.d
        </p>
      </div>
    </div>
  </div>
  <hr class="m-0" />
  <div class="inner-splitter row"></div>
  <div class="row help-card-container">
    <div class="col-xl-3 col-1"></div>
    <div class="col-xl-6 col-10">
      <div class="p-0">
        <div class="row mb-3">
          <p class="h5">What can we assist you with today?</p>
        </div>
        <div id="container-div">
          <div class="row">
            <div id="cards-container" class="row gx-2">
              <div class="col-md-6 col-xxl-4 col-12">
                <div class="card mb-3 help-cards" style="max-width: 540px">
                  <div class="row g-0">
                    <div class="col-4 d-flex align-items-center">
                      <img class="help-card-images" alt="Your Orders"
                        src="https://images-na.ssl-images-amazon.com/images/G/01/x-locale/cs/help/images/gateway/Box-t3._CB485926142_.png" />
                    </div>
                    <div class="col-8">
                      <div class="card-body">
                        <div class="h6">Your Order</div>
                        <div class="card-des">Track packages</div>
                        <div class="card-des">Edit or Cancel orders</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xxl-4 col-12">
                <div class="card mb-3 help-cards" style="max-width: 540px">
                  <div class="row g-0">
                    <div class="col-4 d-flex align-items-center">
                      <img alt="Returns &amp; Refunds"
                        src="https://images-na.ssl-images-amazon.com/images/G/01/x-locale/cs/help/images/gateway/returns-box-blue._CB485930429_.png"
                        class="help-card-images" />
                    </div>
                    <div class="col-8">
                      <div class="card-body">
                        <div class="h6">Returns &amp; Refunds</div>
                        <div class="card-des">Return or exchange items</div>
                        <div class="card-des">Print return mailing labels</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xxl-4 col-12">
                <div class="card mb-3 help-cards" style="max-width: 540px">
                  <div class="row g-0">
                    <div class="col-4 d-flex align-items-center">
                      <img alt="Get Product Help"
                        src="https://images-na.ssl-images-amazon.com/images/G/01/x-locale/cs/help/images/gateway/helpgateway_pls_v2._CB407694449_.png"
                        class="help-card-images" />
                    </div>
                    <div class="col-8">
                      <div class="card-body">
                        <div class="h6">Get Product Help</div>
                        <div class="card-des">
                          Troubleshoot product setup and usage issues
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xxl-4 col-12">
                <div class="card mb-3 help-cards" style="max-width: 540px">
                  <div class="row g-0">
                    <div class="col-4 d-flex align-items-center">
                      <img class="help-card-images" alt="Your Orders"
                        src="https://images-na.ssl-images-amazon.com/images/G/01/x-locale/cs/help/images/gateway/family_device._CB456085159_.png" />
                    </div>
                    <div class="col-8">
                      <div class="card-body">
                        <div class="h6">
                          Digital Services and Device Support
                        </div>
                        <div class="card-des">Troubleshoot device issues</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xxl-4 col-12">
                <div class="card mb-3 help-cards" style="max-width: 540px">
                  <div class="row g-0">
                    <div class="col-4 d-flex align-items-center">
                      <img class="help-card-images" alt="Your Orders"
                        src="https://images-na.ssl-images-amazon.com/images/G/01/x-locale/cs/help/images/gateway/Prime_clear-bg-t3._CB485931600_.png" />
                    </div>
                    <div class="col-8">
                      <div class="card-body">
                        <div class="h6">Manage Prime</div>
                        <div class="card-des">Learn about Prime benefits</div>
                        <div class="card-des">Cancel Prime membership</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xxl-4 col-12">
                <div class="card mb-3 help-cards" style="max-width: 540px">
                  <div class="row g-0">
                    <div class="col-4 d-flex align-items-center">
                      <img class="help-card-images" alt="Your Orders"
                        src="https://images-na.ssl-images-amazon.com/images/G/01/x-locale/cs/help/images/gateway/Payments_clear-bg-t3._CB485948268_.png" />
                    </div>
                    <div class="col-8">
                      <div class="card-body">
                        <div class="h6">Payments & Gift Cards</div>
                        <div class="card-des">Add or edit payment methods</div>
                        <div class="card-des">
                          View, reload gift card balance
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xxl-4 col-12">
                <div class="card mb-3 help-cards" style="max-width: 540px">
                  <div class="row g-0">
                    <div class="col-4 d-flex align-items-center">
                      <img class="help-card-images" alt="Your Orders"
                        src="https://images-na.ssl-images-amazon.com/images/G/01/x-locale/cs/help/images/gateway/IN-your-account._CB485928844_.png" />
                    </div>
                    <div class="col-8">
                      <div class="card-body">
                        <div class="h6">Your Account</div>
                        <div class="card-des">
                          Manage your account preferences
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xxl-4 col-12">
                <div class="card mb-3 help-cards" style="max-width: 540px">
                  <div class="row g-0">
                    <div class="col-4 d-flex align-items-center">
                      <img class="help-card-images" alt="Your Orders"
                        src="https://images-na.ssl-images-amazon.com/images/G/01/x-locale/cs/help/images/gateway/faq._CB420097486_.png" />
                    </div>
                    <div class="col-8">
                      <div class="card-body">
                        <div class="h6">Amazon and COVID-19</div>
                        <div class="card-des">
                          FAQs about the impact on ordering
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row my-4">
            <hr m-4 />
            <div class="p-0">
              <span class="fs-5 fw-bold">Search the help library</span>
              <span class="fw-bold fst-italic">
              Type something like, "question about a charge"
              </span>
            </div>
            <div class="input-group p-0 mt-2">
              <div class="input-group-text" id="btnGroupAddon">
                <i class="fas fa-search"></i>
              </div>
              <input type="text" class="form-control" aria-describedby="btnGroupAddon" />
            </div>
          </div>
          <div class="row mt-4">
            <div class="p-0">
              <div class="h3 mb-4">Browse Help Topics</div>
              <div class="accordion   accordion-flush">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      Recommended Topics
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <h5>Learn How to ...</h5>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item help-links">Order with Free Shipping by Amazon</li>
                        <li class="list-group-item help-links">Manage Your Orders</li>

                        <li class="list-group-item help-links">About Closing Your Account</li>
                        <li class="list-group-item help-links">Return Items You ordered</li>
                      </ul>

                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      Where's My Stuff?
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <h5>Learn How to ...</h5>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item help-links">Order with Free Shipping by Amazon</li>
                        <li class="list-group-item help-links">Manage Your Orders</li>

                        <li class="list-group-item help-links">About Closing Your Account</li>
                        <li class="list-group-item help-links">Return Items You ordered</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      Managing Your Orders
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <h5>Learn How to ...</h5>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item help-links">Order with Free Shipping by Amazon</li>
                        <li class="list-group-item help-links">Manage Your Orders</li>

                        <li class="list-group-item help-links">About Closing Your Account</li>
                        <li class="list-group-item help-links">Return Items You ordered</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                      Account Setting
                    </button>
                  </h2>
                  <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <h5>Learn How to ...</h5>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item help-links">Order with Free Shipping by Amazon</li>
                        <li class="list-group-item help-links">Manage Your Orders</li>

                        <li class="list-group-item help-links">About Closing Your Account</li>
                        <li class="list-group-item help-links">Return Items You ordered</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-1"></div>
  </div>
  <div style="height:100px"></div>
 