<div class="container">
    <form class="login my-5" #myForm="ngForm" >
        <div><h4 class="fw-bolder headFont">
            Sign up now !
        </h4></div>
        <div class="form-group form-check mb-3" [ngClass]="{'is-invalid':sellerName.invalid && sellerName.touched}">
            <label class="control-label fw-bolder" for="name">User Name:</label>
            <input type="text" name="name"  #sellerName=ngModel ngModel 
            required class="form-control "  id="name">
        </div>
        <div class="form-group form-check mb-3" [ngClass]="{'is-invalid':myEmail.invalid && myEmail.touched}">
            <label class="control-label fw-bolder" for="email">Email:</label>
            <input type="email" name="email"  #myEmail=ngModel ngModel email="true"
            required class="form-control "  id="email">
        </div>
        <div class="form-row">
        <div class="form-group form-check mb-3 w-50" [ngClass]="{'is-invalid':password.invalid && password.touched}">
            <button (click)="showPassword()" class="login__forget-password px-1"> show Password ?</button>
            <label class="control-label fw-bolder" for="password">Password:</label>
            <input class="form-control " #password=ngModel required minlength="10" type="password" name="password" placeholder="Password"  ngModel  id="password">
        <div *ngIf="password.invalid && (password.dirty || password.touched)"
        class="alert alert-danger">please enter valid password of min length 10 </div>
        <div class="invalid-feedback">
            Please enter a message in the textarea.
          </div>
        </div>
        <div class="form-group w-50" [ngClass]="{'invalid':rPassword.invalid && rPassword.touched  }">
            <label for="">Re-enter Password</label>
            <input class="form-control"   #rPassword=ngModel  ngModel required minlength="10" type="password" name="repeatedPassword"  placeholder="Confirm Password" id="rPassword">
            
        </div>
    </div>
        <div class="login__remember-me">
            <div class="form-check"><input class="form-check-input" type="checkbox" name="" id="">
            <span>Remember Me</span>
        </div>
        <div class="add-product__actions">
                <button href="#" class="btn btn-danger">Reset data</button>
                <button type="submit" (click)="onSubmit(myForm.value)" class="btn btn-primary ">Sign up</button>
            </div>
        </div>
        <a routerLink="/seller/login" class="login__register-now">already have an account ?</a>
    </form>
</div>