<div class="row" dir="auto">
  <ng-template class="p-0 m-0" #popContent>
    <div class="border-0 p-0 m-0">
      <div class="border-0 p-0">
        <h5 class="">Customers' reviews</h5>
        <div>
          <a href="#">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </a>
          <span class="ms-1 fw-bold">4 out of 5</span>
        </div>
        <p>33350 global ratings</p>
        5 star
        <div class="progress mb-2">
          <div
            class="progress-bar bg-warning"
            role="progressbar"
            style="width: 90%"
            aria-valuenow="90"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        4 star
        <div class="progress mb-2">
          <div
            class="progress-bar bg-warning"
            role="progressbar"
            style="width: 75%"
            aria-valuenow="75"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        3 star
        <div class="progress mb-2">
          <div
            class="progress-bar bg-warning"
            role="progressbar"
            style="width: 5%"
            aria-valuenow="5"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        2 star
        <div class="progress mb-2">
          <div
            class="progress-bar bg-warning"
            role="progressbar"
            style="width: 1%"
            aria-valuenow="1"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        1 star
        <div class="progress mb-2">
          <div
            class="progress-bar bg-warning"
            role="progressbar"
            aria-valuenow="0"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
<div class="container my-5" [dir]="currerntLang == 'en' ? 'ltr' : 'rtl'">
  <div class="row">
    <nav aria-label="breadcrumb m-0">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a class="AH_card-link" (click)="searchByCategory()">{{
            product.productCategory
          }}</a>
        </li>
        <li class="breadcrumb-item">
          <a class="AH_card-link" (click)="searchBySubCategory()">{{
            product.productSubCategory
          }}</a>
        </li>

        <li class="breadcrumb-item active" aria-current="page">
          {{ product.productType || " item" }}
        </li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-xl-6">
      <div class="col-12 d-flex ps-3 justify-content-center sticky-top test">
        <div style="padding: 20px">
          <img
            [src]="product.productImages[imageShowIndex]"
            onload="if(this.width/this.height > 1.0){this.className += ' a-stretch-horizontal'}else{this.className += ' a-stretch-vertical'};this.onload='';"
            data-a-image-name="landingImage"
            class="a-dynamic-image a-stretch-vertical row test"
            id="landingImage"
            style="max-width: 550px; max-height: 550px"
          />
          <!-- <span class="row d-flex justify-content-center mt-1">
            Roll over image to zoom in</span
          > -->
        </div>

        <div
          class="d-flex flex-column align-items-center position-absolute top-0 start-0 ms-xl-4"
        >
          <img
            *ngFor="let img of product.productImages; let i = index"
            [src]="product.productImages[i]"
            (click)="changeMainImge(i)"
            class="img-thumbnail product-thumbnail"
            alt="..."
          />
        </div>
      </div>
    </div>
    <div class="col-xl-4 px-4">
      <span id="productTitle" class="word-break">
        {{ product.productName }}
      </span>
      <a class="AH_card-link d-block" href="">{{
        "PRODUCT_INFO.Visit_the_Store" | translate
      }}</a>

      <div class="">
        <span
          type="button"
          triggers="mouseenter:mouseleave"
          [ngbPopover]="popContent"
          [openDelay]="300"
          [closeDelay]="500"
        >
          <a class="">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>

            <i class="ms-3 fas fa-chevron-right"></i>
          </a>
        </span>
        <div class="d-flex flex-wrap">
          <a href="" class="me-3 AH_card-link">
            3,5488 {{ "PRODUCT_INFO.Ratings" | translate }}</a
          >
          |
          <a href="" class="ms-3 AH_card-link"
            >135 {{ "PRODUCT_INFO.answered_questions" | translate }}</a
          >
        </div>
        <hr />
        <!-- price -->
        <div *ngIf="product.productPrice.discount > 0" class="row">
          <div class="col-3">
            <span class="text-secondary"
              >{{ "PRODUCT_INFO.List_Price" | translate }}:
            </span>
          </div>
          <div class="col-9 p-0">
            <del
              >{{ "PRODUCT_INFO.EGP" | translate }}
              {{ product.productPrice.currentPrice }}</del
            >
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="text-secondary">
              {{ "PRODUCT_INFO.Price" | translate }}
            </span>
          </div>
          <div class="col-9 ps-0">
            <span class="">
              <span class="price"
                >{{ "PRODUCT_INFO.EGP" | translate }}
                {{ product.productPrice.finalPrice | number }}</span
              >
              <span class="word-break text-secondary">
                + ${{ shippingFees }}
                {{ "PRODUCT_INFO.Shipping_FEES" | translate }}
                {{ DeliverTo }}</span
              >
            </span>
          </div>
        </div>
        <div *ngIf="product.productPrice.discount > 0" class="row mb-3">
          <div class="col-3 text-secondary">
            {{ "PRODUCT_INFO.You_Save" | translate }}:
          </div>
          <div class="col-9 p-0">
            <span class="price" style="font-size: 14px">
              {{ "PRODUCT_INFO.EGP" | translate }}
              {{ product.productPrice.discount }}
              <span class="px-2">
                ({{
                  (product.productPrice.discount /
                    product.productPrice.currentPrice) *
                    100 | number
                }}%)</span
              >
            </span>
          </div>
        </div>
        <span class="word-break fs-6">
          {{ "PRODUCT_INFO.Available_at" | translate }}
        </span>

        <!-- specs -->
        <div id="specsDiv" class="mt-2">
          <div *ngFor="let prop of productInfo" class="row gy-2 mt-2">
            <div class="col-xl-4">
              <span class="font-weight-bold">{{ prop.name }}</span>
            </div>
            <div class="col-xl-8 ps-xl-0">{{ prop.value }}</div>
          </div>
        </div>
        <hr />

        <!--About this item section  -->
        <div id="aboutProduct" class="mb-2">
          <h6 class="font-weight-bold">
            {{ "PRODUCT_INFO.About_this" | translate }}
          </h6>
          <ul type="disk " class="ps-2">
            <li *ngFor="let item of productDescription" class="my-2">
              {{ item }}
            </li>
          </ul>
          <a class="AH_card-link"> {{ "PRODUCT_INFO.Compare" | translate }}</a>
          <div class="AH_card-link mt-1">
            {{ "PRODUCT_INFO.New_from" | translate }}
            <span class="price" style="font-size: 14px"
              >{{ "PRODUCT_INFO.EGP" | translate }}
              {{ product.productPrice.finalPrice }}</span
            >
          </div>
        </div>
        <hr />
        <!--Similar item to consider -->
        <div *ngIf="relatedProducts.length > 3">
          <h5 class="font-weight-bold">
            {{ "PRODUCT_INFO.Similar" | translate }}
          </h5>
          <div class="row">
            <div class="col-xl-3">
              <img
                alt=""
                style="max-width: 100px; max-height: 100px"
                src="{{ similarProduct.productImages[0] }}"
                id="value-pick-image"
              />
            </div>
            <div class="col-xl-9 ps-0">
              <h6 class="word-break AH_card-link">
                {{ similarProduct.productName }}
              </h6>
              <div class="price" style="font-size: 14px">
                {{ "PRODUCT_INFO.EGP" | translate }}
                {{ similarProduct.finalPrice }}
              </div>
              <i class="fas fa-star fa-sm"></i>
              <i class="fas fa-star fa-sm"></i>
              <i class="fas fa-star fa-sm"></i>
              <i class="fas fa-star fa-sm"></i>
              <i class="far fa-star fa-sm"></i>
              <a class="AH_card-link"> (67) </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2">
      <div class="card p-3">
        <div class="price">
          {{ "PRODUCT_INFO.EGP" | translate }}
          {{ product.productPrice.finalPrice | number }}
        </div>
        <div class="word-break text-secondary mb-3" style="font-weight: 500">
          + ${{ shippingFees }} {{ "PRODUCT_INFO.Shipping_FEES" | translate }}
          {{ DeliverTo }}
        </div>

        <!-- estimated Arrive time  -->
        <div class="mb-4">
          {{ "PRODUCT_INFO.Arrives" | translate }}
          <span class="font-weight-bold">
            {{ "PRODUCT_INFO.Date" | translate }}</span
          >
        </div>

        <h5
          *ngIf="product.productStock <= 20"
          class="word-break mb-2"
          style="color: #a53d01"
        >
          {{ product.productStock }} {{ "PRODUCT_INFO.Stock" | translate }}
        </h5>
        <!-- buttons -->
        <div class="row p-2">
          <div
            class="button d-flex justify-content-center position-relative mb-2"
          >
            <input type="button" value="Add To Cart" (click)="addToCart()" />
            <div
              class="position-absolute start-0 d-flex justify-content-center align-items-center square"
            >
              <i class="fas fa-shopping-cart"></i>
            </div>
          </div>
          <div
            class="button_buy d-flex justify-content-center position-relative mb-2"
          >
            <input type="button" value="Buy Now" />
            <div
              class="position-absolute start-0 d-flex justify-content-center align-items-center square"
            >
              <i class="fas fa-play"></i>
            </div>
          </div>
        </div>
        <!-- secure transaction -->
        <div class="d*flex">
          <i style="color: lightgrey" class="fas fa-lock me-3"></i>
          <span class="AH_card-link"
            >{{ "PRODUCT_INFO.Transaction" | translate }}
          </span>
        </div>
        <hr />
        <!-- sold by & ships from -->
        <div>
          <div class="row">
            <span class="col-5 fs-7">
              {{ "PRODUCT_INFO.Ships_from" | translate }}
            </span>
            <span class="col-7 fs-7">
              {{ "PRODUCT_INFO.Amazon" | translate }}</span
            >
          </div>
          <div class="row mb-3">
            <span class="col-5 fs-7">
              {{ "PRODUCT_INFO.Sold_by" | translate }}
            </span>
            <a class="col-7 AH_card-link fs-7">{{ sellerNM }} </a>
          </div>
        </div>
        <hr class="m-0" />
        <div class="d-flex my-2">
          <i style="color: lightgray" class="fas fa-map-marker-alt me-2"></i>
          <a class="AH_card-link fs-7">
            {{ "PRODUCT_INFO.Deliver" | translate }}</a
          >
        </div>
        <hr class="m-0" />
        <div class="mt-4">
          <div class="button-list">
            <input type="button" value="Add To List" />
          </div>
        </div>
      </div>
      <div class="card p-3 my-4 position-relative">
        <span>
          {{ "PRODUCT_INFO.New_from" | translate }}
          <span class="price" style="font-size: 14px">
            {{ "PRODUCT_INFO.EGP" | translate }}
            {{ product.productPrice.finalPrice }}</span
          ><i
            class="mx-3 fas fa-chevron-right position-absolute end-0 top-50 translate-middle-y"
          ></i
        ></span>
      </div>

      <!-- share -->
      <div class="d-flex justify-content-center">
        <span class="AH_card-link me-2">
          {{ "PRODUCT_Share" | translate }}</span
        >
        <span class="me-2">
          <i class="far fa-envelope fa-xl" style="color: lightgrey"></i>
        </span>

        <span class="me-2">
          <i class="fab fa-facebook-square fa-xl" style="color: #4267b2"></i>
        </span>
        <span class="me-2">
          <i class="fab fa-twitter fa-xl" style="color: #1da1f2"></i>
        </span>
      </div>
      <!-- Other sellers -->

      <div class="card my-4 position-relative">
        <div class="card-header bg-transparent fs-7 font-weight-bold">
          {{ "PRODUCT_INFO.OtherSellers" | translate }}
        </div>
        <div class="p-2">
          <div class="d-flex justify-content-between">
            <div class="price">
              {{ "PRODUCT_INFO.EGP" | translate }}
              {{ "PRODUCT_INFO.Transaction" | translate }}
            </div>

            <div class="button p-1">
              <div class="fw-7">
                {{ "PRODUCT_INFO.Cart" | translate }}
              </div>
            </div>
          </div>
          <span class="fs-7"
            >{{ "PRODUCT_INFO.FreeShipping" | translate }}
          </span>
          <div class="fs-7 text-secondary">
            {{ "PRODUCT_INFO.Sold_by" | translate }} <span>PNR Sales</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="mt-4" />
  <div *ngIf="relatedProducts.length > 3" class="row tp-product-slider my-3">
    <span class="h4 mb-3" style="color: #a53d01">
      {{ "PRODUCT_INFO.Related" | translate }}
    </span>

    <ul class="tp-list-inline py-3 px-0 mt-2">
      <li
        *ngFor="let relPro of relatedProducts"
        class="list-inline-item text-center"
        style="max-width: 270px"
      >
        <a [routerLink]="['/product', 'details', relPro._id]">
          <img
            alt="{{ relPro.productName }}"
            src="{{ relPro.productImages[0] }}"
            class="product-image"
            height="200px"
          />
          <div class="word-break">
            {{ relPro.productName | slice: 0:20 }}
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
