<div class="container my-4" style="max-width: 700px">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="['/account']" style="text-decoration: none"
          >Your Account</a
        >
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Login & Security
      </li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-12 my-2">
      <h3>Login & Security</h3>
    </div>

    <div class="col-12">
      <table class="table" style="border: 1px solid rgb(201, 201, 201)">
        <tbody>
          <tr>
            <td>
              <p class="m-0">Name:</p>
              <p>Placeholder for name:</p>
            </td>
            <td>
              <button class="btn edit-btn">Edit</button>
            </td>
          </tr>
          <tr>
            <td>
              <p class="m-0">Email:</p>
              <p>Placeholder for email:</p>
            </td>
            <td>
              <button class="btn edit-btn">Edit</button>
            </td>
          </tr>
          <tr>
            <td>
              <p class="m-0">Mobile number:</p>
              <p>Placeholder for mobile:</p>
            </td>
            <td>
              <button class="btn edit-btn">Edit</button>
            </td>
          </tr>
          <tr>
            <td>
              <p class="m-0">Password:</p>
              <p>Placeholder for password:</p>
            </td>
            <td>
              <button class="btn edit-btn">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-12">
      <button class="btn done-btn">Done</button>
    </div>
  </div>
</div>
