<div class="sellerHeader">
    <div class=" container d-flex justify-content-center align-items-center">
    
        <div class="row">
          <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
            <div>
              <h1 id="heading">Become an Amazon seller</h1>
              <h6 id="heading2">
                More than half the units sold in our stores are from independent
                sellers.
              </h6>
            </div>
      
            <div>
              <button type="submit" class="btn btn-primary">signup</button>
              <button type="submit" class="btn btn-warning">learn more</button>
            </div>
          </div>
          <div class="col-md-6">
            <img
              src="https://m.media-amazon.com/images/G/01/sell/images/prime-boxes/prime-boxes-2.png"
              alt=""
              srcset=""
            />
          </div>
        </div>
      </div>
      
</div>
