<div dir="auto" class="sellerHeader">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="row">
          <div class="col-md-12 my-4 d-flex justify-content-start align-items-center">
            <div>
              <h3>Welcome Back: {{loggedInSeller.sellerName}}</h3>
              <h4 *ngIf="products.length != 0">My Products</h4>
            </div>
            
          </div>
          
            <div class="col-md-12 d-flex justify-content-start  align-items-center">
              
              <h5 *ngIf="products.length === 0">
                {{ "SELLER.ADD_MESSAGE" | translate }}
                <a [routerLink]="['/seller', 'add']">
                  {{ "HEADER.ADD" | translate }}
                </a>
              </h5>
              <div *ngIf="products" class="row">
                <app-product-item *ngFor="let item of getSlicedArrOfProducts()" [product]="item" class="col-md-4">
                </app-product-item>
              </div>
            </div>
          

          
        </div>
      </div>
    
    
  </div>

