#heading{
    font-size: 80px!important;
    line-height: 96px;
    font-family: AEmb,Helvetica,Arial,sans-serif;
    font-weight: 900;
    color: rgb(0, 0, 0);
   
}
#heading2{
    font-size: 20px!important;
    line-height: 30px;
    font-family: AEmb,Helvetica,Arial,sans-serif;
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-align: start;
    width: 70%;
   
}

