<app-header></app-header>
<!-- <router-outlet></router-outlet> -->
<app-product-reviews></app-product-reviews>
<app-footer></app-footer>












<!-- <div style="font-size: 300px; font-weight: bold;">HELLO!</div> -->
<!-- <app-login></app-login> -->
<!-- <app-register></app-register> -->
<!-- <app-discover-amazon></app-discover-amazon> -->
<!-- <app-customer-service></app-customer-service> -->
<!-- <app-cart></app-cart> -->
<!-- <app-departments></app-departments> -->
<!-- <app-top-sellers></app-top-sellers> -->
<!-- <app-search-results></app-search-results> -->
<!-- <app-home></app-home> -->
<!-- <app-error-not-found></app-error-not-found> -->
