<div dir="auto" class="container">
  <div class="row my-5 text-center">
    <div class="col-12">
      <div class="div" *ngIf="!paidFor">
        <h3>
          {{ "PLACEORDER.YOU_WILL_PAY" | translate }}:
          {{ totalToPay | currency }}
        </h3>
        <h3 class="my-5">
          {{ "PLACEORDER.SELECT_YOUR_PAYMENT" | translate }}
        </h3>
      </div>
      <div [hidden]="paidFor" id="paypal"></div>
      <div *ngIf="paidFor" class="my-5">
        <h1 class="mb-3">
          {{ "PLACEORDER.THANK_YOU_PURCHASE" | translate }}
        </h1>
        <h3>{{ "PLACEORDER.ORDER_NUMBER" | translate }} #{{ orderID }}</h3>
      </div>
    </div>
  </div>
</div>
