<!-- Body -->
<div class="container-fluid">
  <div class="row" id="AA_upperRow"> 
    
    <div class="col-2" id="AA_sideNavCol">

    <app-side-nav> </app-side-nav>

    </div>


    <div class="col-10">
      <div class="row">
        <div class="col-12">
          <p class="h2"> International Best Sellers</p>
          <p id="AA_topProducts"> Top products shipped internationally including electronics, baby, books,
            and
            more</p>

          <div class="card">
            <div class="card-body">
              <span id="AA_1-12">
                1-12 of over 2,000 results for
                <span id="AA_exploreBest"> Explore Best Sellers </span>

              </span>
            </div>
          </div>
        </div>
      </div>
      <br>



      <div class="row">
        <div class="col-12">
          <div class="card" id="AA_productCard">

            <img src="https://images-na.ssl-images-amazon.com/images/I/51lJ2FZcw5L.jpg" class="card-img-top"
              id="AA_productsImgs">
            <div class="card-body">
              <h5 class="card-title" id="AA_cardText">AmazonBasics 48 Pack AA
                High-Performance Alkaline
                Batteries,
                10-Year Shelf Life, Easy to Open Value Pack

              </h5>
              <p class="card-text"> <span class="AA_byAmazon"> by Amazon Basics </span>
                <br>

                <span class="AA_ratingStars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                    class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></span><br>
                <sup class="AA_sup">$</sup><span class="AA_mainPrice">44</span><sup class="AA_sup">98</sup><span
                  class="AA_restPrice"> <del>$59.99</del> +
                  $105.08shipping </span>
              </p>
            </div>
          </div>


          <div class="card" id="AA_productCard">

            <img src="https://m.media-amazon.com/images/I/71aXzv34N+L._AC_UY218_.jpg" class="card-img-top"
              id="AA_productsImgs">
            <div class="card-body">
              <h5 class="card-title" id="AA_cardText">REVLON One-Step Hair Dryer And
                Volumizer Hot Air
                Brush, Black, Packaging May Vary

              </h5>
              <p class="card-text"> <span class="AA_byAmazon">by Ships Revlon store </span>
                <br>

                <span class="AA_ratingStars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                    class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span><br>
                <sup class="AA_sup">$</sup><span class="AA_mainPrice">39</span><sup class="AA_sup">89</sup><span
                  class="AA_restPrice"> <del>$59.99</del> +
                  $31.08 shipping </span>


              </p>
            </div>
          </div>


          <div class="card" id="AA_productCard">
            <h6><span class="badge bg-warning">Best Seller</span></h6>
            <img src="https://images-na.ssl-images-amazon.com/images/I/51ZIQxjxTxL.jpg" class="card-img-top"
              id="AA_productsImgs">
            <div class="card-body">
              <h5 class="card-title" id="AA_cardText">Ring Fit Adventure - Nintendo Switch


              </h5>
              <p class="card-text"> <span class="AA_byAmazon"> by Nintendo </span>
                <br>

                <span class="AA_ratingStars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                    class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></span><br>
                <sup class="AA_sup">$</sup><span class="AA_mainPrice">78</span><sup class="AA_sup">99</sup><span
                  class="AA_restPrice"> <del>$89.99</del> +
                  $38.67 shipping </span>


              </p>
            </div>
          </div>


        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-12">
          <div class="card" id="AA_productCard">

            <img src="https://images-na.ssl-images-amazon.com/images/I/41yavwjp-8L.jpg" class="card-img-top"
              id="AA_productsImgs">
            <div class="card-body">
              <h5 class="card-title" id="AA_cardText">Victrola Vintage 3-Speed Bluetooth Portable
                Suitcase Record Player with Built-in Speakers | Upgraded Turntable Audio Sound|
                Includes Extra Stylus | Turquoise, Model Number: VSC-550BT-TQ


              </h5>
              <p class="card-text"> <span class="AA_byAmazon"> by Victrola</span>
                <br>

                <span class="AA_ratingStars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                    class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span><br>
                <sup class="AA_sup">$</sup><span class="AA_mainPrice">44</span><sup class="AA_sup">98</sup><span
                  class="AA_restPrice"> <del>$59.99</del> +
                  $104.02 shipping </span>

              </p>
            </div>
          </div>


          <div class="card" id="AA_productCard">
            <h6><span class="badge bg-warning">Best Seller</span></h6>
            <img src="https://images-na.ssl-images-amazon.com/images/I/41XlyY4EvQL.jpg" class="card-img-top"
              id="AA_productsImgs">
            <div class="card-body">
              <h5 class="card-title" id="AA_cardText">Kasa Smart HS200 Light Switch by TP-Link, Single
                Pole, Needs Neutral Wire, 2.4Ghz Wi-Fi Light Switch Works with Alexa and Google
                Assistant, UL Certified, 1-Pack, White


              </h5>
              <p class="card-text"> <span class="AA_byAmazon"> by Kasa Smart </span>
                <br>

                <span class="AA_ratingStars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                    class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span><br>
                <sup class="AA_sup">$</sup><span class="AA_mainPrice">13</span><sup class="AA_sup">99</sup><span
                  class="AA_restPrice"> <del>$19.99</del> +
                  $20.01 shipping </span>


              </p>
            </div>
          </div>


          <div class="card" id="AA_productCard">

            <img src="https://images-na.ssl-images-amazon.com/images/I/318LcIR9MGL.jpg" class="card-img-top"
              id="AA_productsImgs">
            <div class="card-body">
              <h5 class="card-title" id="AA_cardText">Fossil Gen 5 Carlyle Stainless Steel Touchscreen
                Smartwatch with Speaker, Heart Rate, GPS, NFC, and Smartphone Notifications


              </h5>
              <p class="card-text"> <span class="AA_byAmazon"> by Fossil </span>
                <br>

                <span class="AA_ratingStars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                    class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></span><br>
                <span class="AA_restPrice">Currently unavailable.</span>
              </p>
            </div>
          </div>


        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-12">
          <div class="card" id="AA_productCard">
            <img src="https://images-na.ssl-images-amazon.com/images/I/31jBnwWr91L.jpg" class="card-img-top"
              id="AA_productsImgs">
            <div class="card-body">
              <h5 class="card-title" id="AA_cardText">Apple AirPods with Charging Case (Wired)


              </h5>
              <p class="card-text"> <span class="AA_byAmazon"> by Apple Store </span>
                <br>

                <span class="AA_ratingStars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                    class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span><br>
                <sup class="AA_sup">$</sup><span class="AA_mainPrice">99</span><sup class="AA_sup">99</sup><span
                  class="AA_restPrice"> <del>$119.99</del> +
                  $102.09shipping </span>
              </p>
            </div>
          </div>


          <div class="card" id="AA_productCard">
            <img src="https://m.media-amazon.com/images/I/710R9YpV9nL._AC_UY218_.jpg" class="card-img-top"
              id="AA_productsImgs">
            <div class="card-body">
              <h5 class="card-title" id="AA_cardText">Elgato Stream Deck - Live Content Creation
                Controller with 15 Customizable LCD Keys, Adjustable Stand, for Windows 10 and macOS
                10.13 or Late

              </h5>
              <p class="card-text"> <span class="AA_byAmazon"> by Elgato </span>
                <br>

                <span class="AA_ratingStars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                    class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></span><br>
                <sup class="AA_sup">$</sup><span class="AA_mainPrice">149</span><sup class="AA_sup">99</sup><span
                  class="AA_restPrice"> <del>$52.38</del> +
                  $52.38shipping </span>

              </p>
            </div>
          </div>


          <div class="card" id="AA_productCard">
            <img src="https://m.media-amazon.com/images/I/51IOmsWQVAL._AC_UY218_.jpg" class="card-img-top"
              id="AA_productsImgs">
            <div class="card-body">
              <h5 class="card-title" id="AA_cardText">Logitech G502 Hero High Performance Gaming Mouse

              </h5>
              <p class="card-text"> <span class="AA_byAmazon"> by Logitech G Store </span>
                <br>

                <span class="AA_ratingStars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                    class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span><br>
                <sup class="AA_sup">$</sup><span class="AA_mainPrice">34</span><sup class="AA_sup">95</sup><span
                  class="AA_restPrice"> <del>$49.99</del> +
                  $23.18shipping </span>
              </p>
            </div>
          </div>


        </div>
      </div>

      <hr>


      <div class="row">
        <div class="col-12">
          <div class="card" id="AA_productCard">
            <img src="https://m.media-amazon.com/images/I/61drpi3cYUL._AC_UY218_.jpg" class="card-img-top"
              id="AA_productsImgs">
            <div class="card-body">
              <h5 class="card-title" id="AA_cardText">Nintendo Switch Pro Controller

              </h5>
              <p class="card-text"> <span class="AA_byAmazon"> by Nintendo Store </span>
                <br>

                <span class="AA_ratingStars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                    class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span><br>
                <sup class="AA_sup">$</sup><span class="AA_mainPrice">73</span><sup class="AA_sup">77</sup><span
                  class="AA_restPrice"> <del>$82.99</del> +
                  $34.07shipping </span>

              </p>
            </div>
          </div>


          <div class="card" id="AA_productCard">
            <img src="https://images-na.ssl-images-amazon.com/images/I/41TUaKdmrkL.jpg" class="card-img-top"
              id="AA_productsImgs">
            <div class="card-body">
              <h5 class="card-title" id="AA_cardText">Nature's Way Sambucus Black Elderberry Gummies
                with Vitamin C and Zinc, 60 Gummies


              </h5>
              <p class="card-text"> <span class="AA_byAmazon"> by Nature's Way </span>
                <br>

                <span class="AA_ratingStars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                    class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></span><br>
                <span class="AA_restPrice">Currently unavailable.</span>
              </p>
            </div>
          </div>


          <div class="card" id="AA_productCard">
            <img src="https://m.media-amazon.com/images/I/81Vtb-0K3-L._AC_UY218_.jpg" class="card-img-top"
              id="AA_productsImgs">
            <div class="card-body">
              <h5 class="card-title" id="AA_cardText">Razer Huntsman Elite Gaming Keyboard: Fastest
                Keyboard Switches Ever - Clicky Optical Switches - Chroma RGB Lighting - Magnetic
                Plush Wrist Rest - Dedicated Media Keys & Dial - Classic Black

              </h5>
              <p class="card-text"> <span class="AA_byAmazon"> by Razer Store </span>
                <br>

                <span class="AA_ratingStars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                    class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></span><br>
                <sup class="AA_sup">$</sup><span class="AA_mainPrice">149</span><sup class="AA_sup">99</sup><span
                  class="AA_restPrice"> <del>$169.99</del> +
                  $82.35 shipping </span>

              </p>
            </div>
          </div>


        </div>
      </div>

      <div class="row">
        <div class="col-12">

          <div class="d-grid gap-2" id="AA_SeeResultsBtn">
            <button class="btn btn-outline-light" type="button">
              <span class="AA_SeeResults">See all results</span>
            </button>

          </div>
        </div>
      </div>





    </div>
  </div>

  <div class="row">
    <div class="col-12" id="AA_lastRow">


      <hr>
      <p class="h6" id="AA_startHere">See personalized recommendations</p>
      <a [routerLink]="['/login']">
        <div class="d-grid gap-2 col-2 mx-auto">
          <button class="btn btn-warning" type="button"><span id="AA_startHere">Sign in</span> </button>
        </div>
      </a>
      <p class="h6" id="AA_startHere">New customer? <a [routerLink]="['/register']"> start here</a></p>

      <hr>

    </div>
  </div>








</div>
