<div class="container">
    <img class="m-4" src="../../../assets/images/logo/Amazon_Services.png" alt="">
    <hr>
    <form action="" #addForm='ngForm'>
    <div class="row position-relative m-3 ">
        <div class="col-6 p-1 ">
            <div class="imgActions col col-12 m-4">
                <input (input)='addImg($event)' type="file" name="img" id="img" style="display: none;" accept=".png, .jpg, .jpeg"  />
                <div><button class="uploadImg m-2 p-2" (click)="fireUplodeImg($event)" > <i class="fas fa-upload"></i> Upload Photo</button>
                  </div>

                <div><button class="uploadImg m-2 p-2" (click)='removeImg()' > Remove Last Image</button></div>
              </div> 
            <div class="col col-12 m-2 p-4" >
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div id="imgPresent" class="carousel-inner">
                      <div class="carousel-item active">
                        <img id="0" src="../../../assets/images/test/featured-image-placeholder.jpg" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                        <i class="fas fa-chevron-left"></i>
                      <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                        <i class="fas fa-chevron-right"></i>
                      <span class="visually-hidden">Next</span>
                    </a>
                  </div>
            </div>
        </div>
        <div class="col col-6 py-4 px-4">
            <div class="prodDetails p-4">
              <h2>Product Data</h2>
              <div class="mb-3" >
                <label for="prodName" class="form-label ">Product Name</label>
                <input [ngClass]="{'invalid':prodName.touched && prodName.invalid }" #prodName='ngModel' type="text" class="form-control " [(ngModel)]='product.productName' id="prodName" name="prodName">
              </div>
              <div class="info px-4 py-3 mb-3">
                <h4 class="form-label text-center d-block">Product Info</h4>
                <div class="mb-3" >
                <div class="form-group form-label">
                  <input #c (click)='isColor = !isColor ; c.checkd;' type="checkbox" value="1" name="isColor" class="form-check-input me-2">
                  <label class="form-label" for="color">Color</label>
                  
                  <div class="row m-auto" *ngIf="isColor">
                    <div *ngFor='let color of colors; let i = index' class="form-check col-4" >
                      <input ngModel [value]="color" type="checkbox" [name]="color" class="form-check-input">
                      <span class="form-check-label">{{color}}</span>
                      </div>
                  </div>
              </div>
            </div>
              <div class="mb-3">
                <label for="prodDesc" class="form-label ">Description</label>
                <textarea #prodDesc='ngModel' rows="4" style="resize: none;" class="form-control " [(ngModel)]='product.productInfo.description' id="prodDesc" name="prodDesc" ></textarea>
              </div>
              <div class="mb-3">
                <label for="prodMat" class="form-label ">Material</label>
                <input #prodMat='ngModel' type="text" class="form-control" [(ngModel)]='product.productInfo.material' id="prodMat" name="prodMat">
              </div>
              <div class="mb-3">
                <label for="prodWeight" class="form-label ">Weight</label>
                <input #prodWeight='ngModel' type="text" class="form-control" [(ngModel)]='product.productInfo.weight' id="prodWeight" name="prodWeight">
              </div>
              <div id="addInfo"></div>
              <button type="button" class="uploadImg p-2 mb-3" data-bs-toggle="modal" data-bs-target="#Info">
                <i class="fas fa-plus-circle"></i> Add Info
              </button>
              <div class="modal fade" id="Info" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Add Info</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <label >Add Info Key</label>
                     <input id='infoKey' type="text" class="form-control">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close" (click)='addInfo("number")'>Number</button>
                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close" (click)='addInfo("text")'>Text</button>
                    </div>
                  </div>
                </div>
              </div>

              </div>
              <div class="info px-4 py-3 mb-3">
                <h4 class="form-label text-center d-block">Product Price</h4>
                <div class="mb-3" >
                <div class="form-group">
                  <label for="prodPrice">Price</label>
                  <input [(ngModel)]='product.productPrice.currentPrice' #prodPrice='ngModel' class="form-control" type="number" name="prodPrice" id="prodPrice">
              </div></div>
              <div class="mb-3" >
                <label for="prodSale">Status</label>
                    <div class="form-check">
                        <input class="form-check-input" ngModel type="radio" name="prodSale" value="0" id="prodSale" #prodSale='ngModel'>
                        <span>On Sale</span>
                    </div>
                    <div class="form-check">
                        <input ngModel='1' class="form-check-input" #prodSale='ngModel' type="radio" name="prodSale" value="1" id="prodNotSale" >
                        <span>Not On Sale</span>
                    </div>
                  <div class="form-group">
                      <label for="">Discount</label>
                      <input #prodDiscunt='ngModel' [disabled]='prodSale.value==1 || prodSale.untouched' [(ngModel)]='product.productPrice.discount' class="form-control" type="number" name="prodDiscunt" id="prodDiscunt">
                    
                    </div>
                  
              </div>
              </div>
              <div class="mb-3" >
                <label for="prodName" class="form-label ">Product Type</label>
                <input #prodType='ngModel' type="text" class="form-control " [(ngModel)]='product.productType' id="prodType" name="prodType">
              </div>

              <!-- Category and subcategory -->

              <div class="info px-4 py-3 mb-3">
                <h4 class="form-label text-center d-block">Product Keywords</h4>
                <div class="mb-3" >
                  <div class="form-group">
                    <label for="prodPrice">Keywords</label>
                </div></div>
                <div class="d-flex flex-wrap">
                        <div *ngFor='let key of product.keywords' class="textBox d-flex flex-row border border-dark bg-light rounded p-2 mx-2 my-2">
                            <span class="mx-1">{{key}}</span>
                            <a (click)='removeKey(key)' class="taged-textbox__remove"><i class="fas fa-times"></i></a>
                          </div></div>

                    <div class="taged-textbox__clear">
                        <a (click)='product.keywords=[]' role="button" style="cursor: pointer;"><i class="fas fa-times"></i></a>
                    </div>

                <input #keywords (keyup.enter)='onKeyWordAdded(keywords)' class="taged-textbox__textbox form-control" type="text" name="keywords" id="keywords">
            </div>

            </div>
        </div>
        <button class="submit p-2" (click)='submitAdd(addForm)' [disabled]='addForm.invalid'>Add</button>
    </div>
</form>
</div>
