<div dir="auto" class="container my-5">
  <div class="row">
    <div class="col-lg-4">
      <div class="card border-0">
        <div class="card-body">
          <h5 class="card-title">
            {{ "REVIEWS.CUSTOMER_REVIEWS" | translate }}
          </h5>
          <div>
            <a href="#">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </a>
            <span class="ms-1 fw-bold"
              >4 {{ "REVIEWS.OUT_OF" | translate }} 5</span
            >
          </div>
          <p *ngIf="reviews?.length > 0">
            {{ reviews.length }} {{ "REVIEWS.OVERALL_RATINGS" | translate }}
          </p>
          5 {{ "REVIEWS.STAR" | translate }}
          <div class="progress mb-2">
            <div
              class="progress-bar bg-warning"
              role="progressbar"
              style="width: 90%"
              aria-valuenow="90"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          4 {{ "REVIEWS.STAR" | translate }}
          <div class="progress mb-2">
            <div
              class="progress-bar bg-warning"
              role="progressbar"
              style="width: 75%"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          3 {{ "REVIEWS.STAR" | translate }}
          <div class="progress mb-2">
            <div
              class="progress-bar bg-warning"
              role="progressbar"
              style="width: 5%"
              aria-valuenow="5"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          2 {{ "REVIEWS.STAR" | translate }}
          <div class="progress mb-2">
            <div
              class="progress-bar bg-warning"
              role="progressbar"
              style="width: 1%"
              aria-valuenow="1"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          1 {{ "REVIEWS.STAR" | translate }}
          <div class="progress mb-2">
            <div
              class="progress-bar bg-warning"
              role="progressbar"
              aria-valuenow="0"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <h4 *ngIf="hasBeenSubmitted" class="mb-3">
        {{ "REVIEWS.REVIEW_SUBMITTED" | translate }}
      </h4>
      <form #reviewForm="ngForm" class="row g-3">
        <div class="col-12">
          <label for="exampleFormControlInput1" class="form-label">
            {{ "REVIEWS.WRITE_SUMMARY" | translate }}
          </label>
          <input
            required
            #txtInputSummary="ngModel"
            [(ngModel)]="addReview.reviewSummary"
            type="text"
            class="form-control"
            name="summary"
            id="summary"
          />
          <p
            *ngIf="txtInputSummary.invalid && txtInputSummary.touched"
            style="color: red"
          >
            {{ "REVIEWS.FIELD_REQUIRED" | translate }}
          </p>
        </div>

        <div class="col-12">
          <label for="exampleFormControlTextarea1" class="form-label">
            {{ "REVIEWS.WRITE_REVIEW" | translate }}
          </label>
          <textarea
            required
            #txtInputReview="ngModel"
            [(ngModel)]="addReview.fullReview"
            class="form-control"
            name="review"
            id="review"
            rows="3"
          ></textarea>
          <p
            *ngIf="txtInputReview.invalid && txtInputReview.touched"
            style="color: red"
          >
            {{ "REVIEWS.FIELD_REQUIRED" | translate }}
          </p>
        </div>

        <div class="col-12">
          <label for="exampleFormControlInput1" class="form-label">
            {{ "REVIEWS.CHOOSE_RATE" | translate }}
          </label>
          <select
            [(ngModel)]="addReview.reviewVote"
            class="form-control w-25"
            name="ddl"
            id=""
            required
          >
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>

        <div class="col-12">
          <button
            *ngIf="editMode === false"
            (click)="onSubmit(reviewForm)"
            type="submit"
            class="btn"
            [disabled]="reviewForm.invalid"
          >
            <i class="fas fa-pen"></i>
            {{ "REVIEWS.SUBMIT_REVIEW" | translate }}
          </button>
          <button
            *ngIf="editMode === true"
            (click)="onSubmit(reviewForm)"
            type="submit"
            class="btn me-2 ms-2"
            [disabled]="reviewForm.invalid"
          >
            <i class="fas fa-edit"></i>
            {{ "REVIEWS.EDIT_SUBMIT_REVIEW" | translate }}
          </button>
          <button
            *ngIf="editMode === true"
            (click)="onCancelEdit(reviewForm)"
            type="submit"
            class="btn"
          >
            <i class="fas fa-window-close"></i>
            {{ "REVIEWS.CANCEL_EDIT" | translate }}
          </button>
        </div>
      </form>

      <hr />

      <h4 class="my-3">
        {{ "REVIEWS.LATEST_REVIEWS" | translate }}
      </h4>

      <div *ngIf="reviews?.length > 0">
        <div class="media border p-3 mb-3" *ngFor="let review of reviews">
          <i class="far fa-user"></i>
          <span class="ms-2 me-2">{{ review.reviewerName }}</span>
          <div class="media-body">
            <i *ngFor="let star of review.stars" [class]="iconClass[star]"></i>
            <span class="ms-2 me-2">{{ review.reviewSummary }}</span>
            <p>
              {{ "REVIEWS.REVIEWED_ON" | translate }}
              {{ review.reviewTime }}
            </p>
            <p>{{ review.fullReview }}</p>
            <div *ngIf="review.reviewerID === user._id">
              <button class="btn me-2 ms-2" (click)="onEdit(review._id)">
                <i class="fas fa-unlock-alt"></i>
                {{ "REVIEWS.EDIT" | translate }}
              </button>
              <button class="btn" (click)="onDelete(review._id)">
                <i class="fas fa-eraser"></i>
                {{ "REVIEWS.DELETE" | translate }}
              </button>
            </div>
            <!-- <p>{{ review.helpful }} people found this helpful</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
