<div dir="auto" class="container my-4" style="max-width: 700px">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="['/account']" style="text-decoration: none">
          {{ "ORDERS.YOUR_ACCOUNT" | translate }}
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ "ORDERS.YOUR_ORDERS" | translate }}
      </li>
    </ol>
  </nav>
  <h3>
    {{ "ORDERS.YOUR_ORDERS" | translate }}
  </h3>
  <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        (click)="switchOrders(allOrder)"
        #allOrder
        name="allOrders"
        class="nav-link active"
        id="allOrders-tab"
        data-bs-toggle="tab"
        data-bs-target="#allOrders"
        type="button"
        role="tab"
        aria-controls="allOrders"
        aria-selected="true"
      >
        {{ "ORDERS.ALL_ORDERS" | translate }}
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        (click)="switchOrders(currentOrder)"
        #currentOrder
        name="currentOrders"
        class="nav-link"
        id="currentOrders-tab"
        data-bs-toggle="tab"
        data-bs-target="#currentOrders"
        type="button"
        role="tab"
        aria-controls="currentOrders"
        aria-selected="false"
      >
        {{ "ORDERS.CURRENT_ORDERS" | translate }}
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        (click)="switchOrders(previousOrder)"
        #previousOrder
        name="previousOrders"
        class="nav-link"
        id="previousOrders-tab"
        data-bs-toggle="tab"
        data-bs-target="#previousOrders"
        type="button"
        role="tab"
        aria-controls="previousOrders"
        aria-selected="false"
      >
        {{ "ORDERS.PREVIOUS_ORDERS" | translate }}
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        (click)="switchOrders(cancelledOrder)"
        #cancelledOrder
        name="cancelledOrders"
        class="nav-link"
        id="cancelledOrders-tab"
        data-bs-toggle="tab"
        data-bs-target="#cancelledOrders"
        type="button"
        role="tab"
        aria-controls="cancelledOrders"
        aria-selected="false"
      >
        {{ "ORDERS.CANCELLED_ORDERS" | translate }}
      </button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div *ngIf="allOrders.length <= 0" class="d-flex align-items-center mt-5">
      <strong>
        {{ "ORDERS.LOADING" | translate }}
      </strong>
      <div
        class="spinner-border ms-auto"
        role="status"
        aria-hidden="true"
      ></div>
    </div>

    <div
      class="tab-pane fade show active"
      id="allOrders"
      role="tabpanel"
      aria-labelledby="allOrders-tab"
    >
      <div class="row my-5">
        <div
          *ngFor="let order of displayedOrders"
          class="col-md-12 d-flex justify-content-center mb-3"
        >
          <div class="card" style="width: 650px">
            <div class="card-header">
              <div class="row">
                <div class="col-md-4">
                  <p>{{ "ORDERS.ORDER_PLACED" | translate }}</p>
                  <p>{{ order.orderDate }}</p>
                </div>
                <div class="col-md-4">
                  <p>{{ "ORDERS.TOTAL" | translate }}</p>
                  <p>{{ order.orderPrice | currency }}</p>
                </div>
                <div class="col-md-4">
                  <p>
                    {{ "ORDERS.ORDER_NUMBER" | translate }} #{{ order._id }}
                  </p>
                  <p>
                    {{ "ORDERS.ORDER_STATUS" | translate }}
                    <span *ngIf="order.orderStatus === 'Completed'">{{
                      "ORDERS.COMPLETED" | translate
                    }}</span>
                    <span *ngIf="order.orderStatus === 'Cancelled'">{{
                      "ORDERS.CANCELLED" | translate
                    }}</span>
                    <span *ngIf="order.orderStatus === 'Pending'">{{
                      "ORDERS.PENDING" | translate
                    }}</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div *ngFor="let item of order.orderItems">
                <h5 class="card-title">
                  {{ item.name }}
                </h5>
                <p class="card-text">
                  {{ "ORDERS.UNIT_PRICE" | translate }}
                  {{ item.unit_amount.value | currency }} <br />
                  {{ "ORDERS.QUANTITY" | translate }} {{ item.quantity }}
                </p>
              </div>
              <div *ngIf="order.orderStatus === 'Pending'">
                <hr />
                <button (click)="cancelUserOrder(order)" class="btn btn-danger">
                  {{ "ORDERS.CANCEL_ORDER" | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
