<!-- <div style="font-size: 200px; font-weight: bold;">LIstIINNNg</div> -->

<!-- Body -->
<div class="container-fluid">
  <div class="row" id="AA_upperRow">
    <div class="col-md-2 ps-3 mb-3" id="AA_sideNavCol">
      <app-side-nav> </app-side-nav>
    </div>

    <div class="col-10">
      <div class="row">
        <div class="col-12">
          <p class="h2">Our Full Selection</p>
          <p id="AA_topProducts">
            Top products shipped internationally including electronics, baby,
            books, and more
          </p>

          <div class="card">
            <div class="card-body">
              <span id="AA_1-12">
                1-12 of over 2,000 results for
                <span id="AA_exploreBest"> Explore Best Products </span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <br />

      <div class="row">
        <app-product-item
          *ngFor="let item of getSlicedArrOfProducts()"
          [product]="item"
          class="col-12 col-lg-3 col-md-4 col-sm-6"
        >
        </app-product-item>
      </div>

      <div class="row">
        <div class="col-12">
          <!-- <div class="d-grid gap-2" id="AA_SeeResultsBtn">
            <button class="btn btn-outline-light" type="button">
              <span class="AA_SeeResults">See all results</span>
            </button>

          </div> -->

          <nav aria-label="...">
            <ul class="pagination justify-content-center">
              <li
                class="page-link bg-gradien"
                (click)="
                  currentPage === 0
                    ? currentPage
                    : (currentPage = currentPage - 1)
                "
                style="cursor: pointer"
              >
                <i class="fas fa-long-arrow-alt-left"></i> Previous
              </li>

              <li
                *ngFor="let page of numOfPages; let i = index"
                class="page-link bg-gradient"
                (click)="currentPage = i"
                [ngClass]="{ active: i == currentPage }"
                style="cursor: pointer"
              >
                {{ page }}
              </li>

              <li
                class="page-link bg-gradien"
                (click)="
                  currentPage >= lastPage - 1
                    ? currentPage
                    : (currentPage = currentPage + 1)
                "
                style="cursor: pointer"
              >
                <i class="fas fa-long-arrow-alt-right"></i> Next
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="SignedIn() === false" class="row">
    <div class="col-12" id="AA_lastRow">
      <hr />
      <p class="h6" id="AA_startHere">See personalized recommendations</p>
      <a [routerLink]="['/login']">
        <div class="d-grid gap-2 col-2 mx-auto">
          <button class="btn" type="button" id="AA_signInBtn">Sign in</button>
        </div>
      </a>
      <p class="h6" id="AA_startHere">
        New customer? <a [routerLink]="['/register']"> start here</a>
      </p>

      <hr />
    </div>
  </div>
</div>
