<!--  [style.backgroundImage]="'url('+Advertisement.img[0]+')'" -->
<div class="card" id="AA_productCard">
  <a [routerLink]="['/product', 'details', product._id]" [ngStyle]="{
      display: 'flex',
      alignItems: 'center',
      height: '300px'
    }"><img [src]="product.productImages[0]" class="card-img-top" id="AA_productsImgs" /></a>

  <div class="card-body">
    <a [routerLink]="['/product', 'details', product._id]" class="card-title" id="AA_cardText">
      {{ product.productName }}
    </a>
    <p class="card-text">
      <span class="AA_byAmazon">by Amazon Basics </span>
      <br />

      <span class="AA_ratingStars">
        <i *ngFor="let star of stars" [class]="iconClass[star]"></i> </span><br />
      <sup class="AA_sup">EGP </sup><span class="AA_mainPrice">{{ getPrice() | currency:" ":"symbol"}}</span>
      <span class="AA_restPrice">
        <del *ngIf="product.productPrice.discount > 0">EGP
          {{ product.productPrice.currentPrice | currency:" ":"symbol"}}</del>
      </span>
    </p>
  </div>
</div>
