<div style="background-color: #eaeded">
  <div dir="auto" class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <div class="card my-3">
          <div class="card-body">
            <h3 class="card-title m-0">
              {{ "CART.SHOPPING_CART" | translate }}
            </h3>
            <span class="float-end text-muted">
              {{ "CART.PRICE" | translate }}
            </span>
            <div style="clear: both"></div>
            <hr />
            <div
              class="row MM_shoppingCart my-3"
              *ngFor="let item of cartArray"
            >
              <div class="col-auto">
                <a
                  class="ms-3"
                  href="#"
                  [routerLink]="['/product', 'details', item._id]"
                >
                  <img
                    [src]="item.productImages[0]"
                    alt=""
                    [style.width.px]="250"
                  />
                </a>
              </div>

              <div class="col-auto p-5">
                <div class="d-flex justify-content-start">
                  <span class="fs-5 mx-2">{{ item.productName }} </span>
                  <span class="fs-5 fw-bold">
                    {{ item.productPrice.finalPrice | currency }}</span
                  >
                </div>
                <div *ngIf="item.productStock <= 20" class="text-danger">
                  {{ "CART.ONLY" | translate }}
                  {{ item.productStock }}
                  {{ "CART.LEFT_IN_STOCK" | translate }}
                </div>
                <div class="text-muted" style="font-size: 0.8rem">
                  {{ "CART.SHIPPED_FROM" | translate }}:

                  <span> Amazon.com</span>
                </div>

                <div>
                  <span class="dropdown">
                    <select
                      [(ngModel)]="item.quantity"
                      (change)="updateQuantityPrice()"
                      class="btn btn-light dropdown-toggle p-1 shadow-sm"
                      id="dropdownMenuButton"
                    >
                      <option [ngValue]="1">1</option>
                      <option [ngValue]="2">2</option>
                      <option [ngValue]="3">3</option>
                      <option [ngValue]="4">4</option>
                      <option [ngValue]="5">5</option>
                    </select>
                  </span>
                  <!-- <span class="MM_itemOptions"> -->
                  <button
                    (click)="deleteItem(item)"
                    class="btn btn-danger py-0 mx-2"
                  >
                    {{ "CART.DELETE" | translate }}
                  </button>
                  <!-- <a href="#">Save for later</a>
                    <a href="#">Compare with similar items</a> -->
                  <!-- </span> -->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <hr />
                <span class="float-end fs-5">
                  {{ "CART.TOTAL" | translate }}

                  ({{ totalQuantity }}
                  {{ "CART.ITEM" | translate }}

                  ):
                  <span class="fw-bold">
                    {{ totalPrice | currency }}
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-body"></div>
        </div>

        <div class="mb-3" style="font-size: 0.8em">
          {{ "CART.PRICE_&_AVAILABILITY" | translate }}
        </div>
      </div>

      <div class="col-md-3">
        <div class="row">
          <div class="col-12 MM_subTotal">
            <div class="card my-3">
              <div class="card-body my-4">
                <span class="fs-5">
                  {{ "CART.TOTAL" | translate }}

                  ({{ totalQuantity }}
                  {{ "CART.ITEM" | translate }}

                  ):
                  <span class="fw-bold">
                    {{ totalPrice | currency }}
                  </span>
                </span>
                <button
                  [routerLink]="['/checkout']"
                  class="btn p-1 my-2 col-12"
                  [disabled]="totalQuantity === 0 || !isLogged"
                >
                  {{ "CART.PROCEED_TO_CHECKOUT" | translate }}
                </button>
                <div
                  *ngIf="totalQuantity === 0 || !isLogged"
                  style="font-size: 0.8rem; text-align: center"
                  class="text-muted"
                >
                  {{ "CART.PLEASE_SIGNIN_CONTINUE" | translate }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
