<div style="background-color: #eaeded">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <div class="card my-3">
          <div class="card-body">
            <h3 class="card-title m-0">Shopping Cart</h3>
            <span class="float-end text-muted">Price</span>
            <div style="clear: both"></div>
            <hr />
            <div class="row MM_shoppingCart my-3" *ngFor="let item of cartArray">
              <div class="col-3">
                <a class="ms-3" href="#">
                  <img [src]="item.productImages[0]" alt="" [style.width.px]="250" />
                </a>
              </div>

              <div class="col-9 p-5">
                <a href="# " class="fs-5">{{item.productName}}</a>
                <span class="fs-5 fw-bold float-end me-2">
                  {{item.productPrice.finalPrice | currency:"EGP ":"symbol"}}</span>
                <div *ngIf="item.productStock<=20" class="text-danger">
                  Only {{item.productStock}} left in stock - order soon.
                </div>
                <div>Shipped from: <a href="#">Amazon.com</a></div>
                <div>
                  Gift options not available. Gift options not available.
                  <a href="#"> Learn more </a>
                </div>
                <div>
                  <span class="dropdown me-2">
                    <select [(ngModel)]="item.quantity" (change)="updateQuantityPrice()"
                      class="btn btn-light dropdown-toggle p-1 shadow-sm" id="dropdownMenuButton">
                      <option [ngValue]='1'>1</option>
                      <option [ngValue]='2'>2</option>
                      <option [ngValue]='3'>3</option>
                      <option [ngValue]='4'>4</option>
                      <option [ngValue]='5'>5</option>
                    </select>
                  </span>
                  <span class="MM_itemOptions">
                    <a (click)="deleteItem(item)" style="cursor: pointer;">Delete</a>
                    <a href="#">Save for later</a>
                    <a href="#">Compare with similar items</a>
                  </span>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-12">
                <hr />
                <span class="float-end fs-5">Total ({{totalQuantity}} item): <span class="fw-bold">
                    {{totalPrice | currency:"EGP ":"symbol"}}
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-body"></div>
        </div>

        <div class="mb-3" style="font-size: 0.8em">
          The price and availability of items at Amazon.com are subject to
          change. The Cart is a temporary place to store a list of your items
          and reflects each item's most recent price. Shopping Cart
          <a href="#">Learn more</a>
          <br />
          Do you have a gift card or promotional code? We'll ask you to enter
          your claim code when it's time to pay.
        </div>
      </div>

      <div class="col-md-3">
        <div class="row">
          <div class="col-12 MM_subTotal">
            <div class="card my-3">
              <div class="card-body">
                <span class="fs-5">Total ({{totalQuantity}} item): <span class="fw-bold">
                    {{totalPrice | currency:"EGP ":"symbol"}}
                  </span>
                </span>
                <button [routerLink]="['/checkout']" class="btn bg-gradient p-1 my-2 col-12">
                  Proceed to checkout
                </button>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card">
              <div class="card-body MM_otherProducts">
                <h6 class="card-title">
                  Customers Who Bought Items in Your Recent History Also
                  Bought
                </h6>
                <div class="row">
                  <div class="col-2">
                    <a href="#">
                      <img src="https://m.media-amazon.com/images/G/01/appcore/phone/AMZ_FamiyStripe_iPhone_12Pro.png"
                        alt="" />
                    </a>
                  </div>
                  <div class="col-10">
                    <a href="# "> Apple iPhone 12 Pro </a>
                    <div>
                      <a href="#">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="fas fa-chevron-down" style="font-size: 10px"></i>
                        350
                      </a>
                    </div>
                    <span class="MM_price">$650</span>
                    <button type="submit" class="btn bg-gradient p-1 d-block">
                      Add to Cart
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-2">
                    <a href="#">
                      <img src="https://m.media-amazon.com/images/G/01/appcore/phone/AMZ_FamiyStripe_iPhone_12.png"
                        alt="" />
                    </a>
                  </div>
                  <div class="col-10">
                    <a href="# "> Apple iPhone 12 </a>
                    <div>
                      <a href="#">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="fas fa-chevron-down" style="font-size: 10px"></i>
                        330
                      </a>
                    </div>
                    <span class="MM_price">$500</span>
                    <button type="submit" class="btn bg-gradient p-1 d-block">
                      Add to Cart
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-2">
                    <a href="#">
                      <img src="https://m.media-amazon.com/images/G/01/appcore/phone/AMZ_FamiyStripe_iPhone_12mini.png"
                        alt="" />
                    </a>
                  </div>
                  <div class="col-10">
                    <a href="# "> Apple iPhone 12 mini </a>
                    <div>
                      <a href="#">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="fas fa-chevron-down" style="font-size: 10px"></i>
                        280
                      </a>
                    </div>
                    <span class="MM_price">$400</span>
                    <button type="submit" class="btn bg-gradient p-1 d-block">
                      Add to Cart
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-2">
                    <a href="#">
                      <img
                        src="https://m.media-amazon.com/images/G/01/appcore/phone/AMZ_FamiyStripe_iPhone_SE-SecondGen._CB434448595_.png"
                        alt="" />
                    </a>
                  </div>
                  <div class="col-10">
                    <a href="# "> Apple iPhone SE </a>
                    <div>
                      <a href="#">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="fas fa-chevron-down" style="font-size: 10px"></i>
                        400
                      </a>
                    </div>
                    <span class="MM_price">$200</span>
                    <button type="submit" class="btn bg-gradient p-1 d-block">
                      Add to Cart
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="row tp-product-slider m-4">
          <span class="fs-5 fw-bold p-0 mt-2" style="width: initial">Customers Who Bought Items in Your Recent History
            Also Bought
          </span>
          <a href="" class="text-reset mt-2" style="width: initial">Shop now</a>
          <ul class="tp-list-inline px-0 mt-2">
            <li class="list-inline-item">
              <img alt="Minecraft - Nintendo Switch"
                src="https://m.media-amazon.com/images/I/51NV8Uil7wL._AC_SY200_.jpg" class="product-image"
                height="200px" data-a-hires="https://m.media-amazon.com/images/I/71dIHv1zh7L._AC_SY400_.jpg" />
            </li>
            <li class="list-inline-item">
              <img
                alt="RUNMUS Gaming Headset Xbox One Headset with 7.1 Surround Sound, PS4 Headset with Noise Canceling Mic &amp; LED Light,..."
                src="https://m.media-amazon.com/images/I/41QztBTooxL._AC_SY200_.jpg" class="product-image"
                height="200px" data-a-hires="https://m.media-amazon.com/images/I/61lnzTv2a0L._AC_SY400_.jpg" />
            </li>
            <li class="list-inline-item">
              <img alt="amFilm Tempered Glass Screen Protector for Nintendo Switch 2017 (2-Pack)"
                src="https://m.media-amazon.com/images/I/41BP6N0cDVL._AC_SY200_.jpg" class="product-image"
                height="200px" data-a-hires="https://m.media-amazon.com/images/I/61RS44SioLL._AC_SY400_.jpg" />
            </li>
            <li class="list-inline-item">
              <img alt="Logitech G203 Prodigy RGB Wired Gaming Mouse – Black"
                src="https://m.media-amazon.com/images/I/319KAiGobEL._AC_SY200_.jpg" class="product-image"
                height="200px" data-a-hires="https://m.media-amazon.com/images/I/71BmDZ6u22L._AC_SY400_.jpg" />
            </li>
            <li class="list-inline-item">
              <img alt="Logitech G602 Lag-Free Wireless Gaming Mouse – 11 Programmable Buttons, Upto 2500 DPI"
                src="https://m.media-amazon.com/images/I/41Ww3zikowL._AC_SY200_.jpg" class="product-image"
                height="200px" data-a-hires="https://m.media-amazon.com/images/I/81ZQgWwuVzL._AC_SY400_.jpg" />
            </li>
            <li class="list-inline-item">
              <img
                alt="NUBWO Gaming headsets PS4 N7 Stereo Xbox one Headset Wired PC Gaming Headphones with Noise Canceling Mic , Over Ear..."
                src="https://m.media-amazon.com/images/I/41sFQT0I4aL._AC_SY200_.jpg" class="product-image"
                height="200px" data-a-hires="https://m.media-amazon.com/images/I/61EIHYCUGYL._AC_SY400_.jpg" />
            </li>
            <li class="list-inline-item">
              <img
                alt="Orzly Carry Case Compatible with Nintendo Switch - Black Protective Hard Portable Travel Carry Case Shell Pouch for..."
                src="https://m.media-amazon.com/images/I/51mZVG8qQZL._AC_SY200_.jpg" class="product-image"
                height="200px" data-a-hires="https://m.media-amazon.com/images/I/71+wvccA3ML._AC_SY400_.jpg" />
            </li>
            <li class="list-inline-item">
              <img
                alt="BEBONCOOL PS4 Controller Charger, Controller USB Charging Station Dock for DualShock 4, PlayStation 4 Charging Station..."
                src="https://m.media-amazon.com/images/I/41VbT96pAWL._AC_SY200_.jpg" class="product-image"
                height="200px" data-a-hires="https://m.media-amazon.com/images/I/81UWP87LpwL._AC_SY400_.jpg" />
            </li>
            <li class="list-inline-item">
              <img
                alt="PICTEK Gaming Mouse Wired [7200 DPI] [Programmable] [Breathing Light] Ergonomic Game USB Computer Mice RGB Gamer Desktop..."
                src="https://m.media-amazon.com/images/I/41PDAAtkyGL._AC_SY200_.jpg" class="product-image"
                height="200px" data-a-hires="https://m.media-amazon.com/images/I/61gxUsLtlyL._AC_SY400_.jpg" />
            </li>
            <li class="list-inline-item">
              <img
                alt="Redragon S101 Wired Gaming Keyboard and Mouse Combo RGB Backlit Gaming Keyboard with Multimedia Keys Wrist Rest and Red..."
                src="https://m.media-amazon.com/images/I/51vOyKGea+L._AC_SY200_.jpg" class="product-image"
                height="200px" data-a-hires="https://m.media-amazon.com/images/I/71kr3WAj1FL._AC_SY400_.jpg" />
            </li>
            <li class="list-inline-item">
              <img
                alt="UGREEN Ethernet Adapter USB 2.0 to 10/100 Network RJ45 LAN Wired Adapter Compatible for Nintendo Switch, Wii, Wii U,..."
                src="https://m.media-amazon.com/images/I/31aYZs3ij5L._AC_SY200_.jpg" class="product-image"
                height="200px" data-a-hires="https://m.media-amazon.com/images/I/51QguyfpCVL._AC_SY400_.jpg" />
            </li>
            <li class="list-inline-item">
              <img alt="Microsoft Xbox Wireless Adapter for Windows 10"
                src="https://m.media-amazon.com/images/I/31fbwd4IoxL._AC_SY200_.jpg" class="product-image"
                height="200px" data-a-hires="https://m.media-amazon.com/images/I/51UqtdIsVlL._AC_SY400_.jpg" />
            </li>
            <li class="list-inline-item">
              <img
                alt="PICTEK Gaming Mouse Wired, RGB Chroma Backlit Gaming Mouse, 8 Programmable Buttons, 7200 DPI Adjustable, Comfortable..."
                src="https://m.media-amazon.com/images/I/41dqioIt0wL._AC_SY200_.jpg" class="product-image"
                height="200px" data-a-hires="https://m.media-amazon.com/images/I/61d9C4yCB2L._AC_SY400_.jpg" />
            </li>
          </ul>
        </div>

        <div class="row tp-product-slider m-4">
          <span class="fs-5 fw-bold p-0 mt-2" style="width: initial">Inspired by your browsing history
          </span>
          <a href="" class="text-reset mt-2" style="width: initial">Shop now</a>
          <ul class="tp-list-inline px-0 mt-2">
            <li class="list-inline-item">
              <img alt="Minecraft - Nintendo Switch"
                src="https://images-na.ssl-images-amazon.com/images/I/71J38Txcb6L._AC_UL270_SR216,270_.jpg"
                class="product-image" height="200px" />
            </li>
            <li class="list-inline-item">
              <img
                alt="RUNMUS Gaming Headset Xbox One Headset with 7.1 Surround Sound, PS4 Headset with Noise Canceling Mic &amp; LED Light,..."
                src="https://images-na.ssl-images-amazon.com/images/I/61PbhMOuE4L._AC_UL270_SR270,270_.jpg"
                class="product-image" height="200px" />
            </li>
            <li class="list-inline-item">
              <img alt="amFilm Tempered Glass Screen Protector for Nintendo Switch 2017 (2-Pack)"
                src="https://images-na.ssl-images-amazon.com/images/I/61QEY3YKqqL._AC_UL270_SR270,270_.jpg"
                class="product-image" height="200px" />
            </li>
            <li class="list-inline-item">
              <img alt="Logitech G203 Prodigy RGB Wired Gaming Mouse – Black"
                src="https://images-na.ssl-images-amazon.com/images/I/61RYG1rUxeL._AC_UL270_SR270,270_.jpg"
                class="product-image" height="200px" />
            </li>
            <li class="list-inline-item">
              <img alt="Logitech G602 Lag-Free Wireless Gaming Mouse – 11 Programmable Buttons, Upto 2500 DPI"
                src="https://images-na.ssl-images-amazon.com/images/I/613KPiwwsvL._AC_UL270_SR270,270_.jpg"
                class="product-image" height="200px" />
            </li>
            <li class="list-inline-item">
              <img
                alt="NUBWO Gaming headsets PS4 N7 Stereo Xbox one Headset Wired PC Gaming Headphones with Noise Canceling Mic , Over Ear..."
                src="https://images-na.ssl-images-amazon.com/images/I/51opmroKBgL._AC_UL270_SR270,270_.jpg"
                class="product-image" height="200px" />
            </li>
            <li class="list-inline-item">
              <img
                alt="Orzly Carry Case Compatible with Nintendo Switch - Black Protective Hard Portable Travel Carry Case Shell Pouch for..."
                src="https://images-na.ssl-images-amazon.com/images/I/61GggH1hAaL._AC_UL270_SR182,270_.jpg"
                class="product-image" height="200px" />
            </li>
            <li class="list-inline-item">
              <img
                alt="BEBONCOOL PS4 Controller Charger, Controller USB Charging Station Dock for DualShock 4, PlayStation 4 Charging Station..."
                src="https://images-na.ssl-images-amazon.com/images/I/61gYe3YaoxL._AC_UL270_SR270,270_.jpg"
                class="product-image" height="200px" />
            </li>
            <li class="list-inline-item">
              <img
                alt="PICTEK Gaming Mouse Wired [7200 DPI] [Programmable] [Breathing Light] Ergonomic Game USB Computer Mice RGB Gamer Desktop..."
                src="https://images-na.ssl-images-amazon.com/images/I/71zKhk9GyLL._AC_UL270_SR270,270_.jpg"
                class="product-image" height="200px" />
            </li>
            <li class="list-inline-item">
              <img
                alt="Redragon S101 Wired Gaming Keyboard and Mouse Combo RGB Backlit Gaming Keyboard with Multimedia Keys Wrist Rest and Red..."
                src="https://images-na.ssl-images-amazon.com/images/I/71GfTHgl0AL._AC_UL270_SR270,270_.jpg"
                class="product-image" height="200px" />
            </li>
            <li class="list-inline-item">
              <img
                alt="UGREEN Ethernet Adapter USB 2.0 to 10/100 Network RJ45 LAN Wired Adapter Compatible for Nintendo Switch, Wii, Wii U,..."
                src="https://images-na.ssl-images-amazon.com/images/I/61J4ILcCZyL._AC_UL270_SR270,270_.jpg"
                class="product-image" height="200px" />
            </li>
            <li class="list-inline-item">
              <img alt="Microsoft Xbox Wireless Adapter for Windows 10"
                src="https://images-na.ssl-images-amazon.com/images/I/61OcRGpakjL._AC_UL270_SR270,270_.jpg"
                class="product-image" height="200px" />
            </li>
            <li class="list-inline-item">
              <img
                alt="PICTEK Gaming Mouse Wired, RGB Chroma Backlit Gaming Mouse, 8 Programmable Buttons, 7200 DPI Adjustable, Comfortable..."
                src="https://images-na.ssl-images-amazon.com/images/I/61qeRQ18AkL._AC_UL405_SR228,405_.jpg"
                class="product-image" height="200px" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
