<div style="background-color: #eaeded">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <div class="card my-3">
          <div class="card-body">
            <h3 class="card-title m-0">Shopping Cart</h3>
            <span class="float-end text-muted">Price</span>
            <div style="clear: both"></div>
            <hr />
            <div
              class="row MM_shoppingCart my-3"
              *ngFor="let item of cartArray"
            >
              <div class="col-3">
                <a
                  class="ms-3"
                  href="#"
                  [routerLink]="['/product', 'details', item._id]"
                >
                  <img
                    [src]="item.productImages[0]"
                    alt=""
                    [style.width.px]="250"
                  />
                </a>
              </div>

              <div class="col-9 p-5">
                <a href="# " class="fs-5">{{ item.productName }}</a>
                <span class="fs-5 fw-bold float-end me-2">
                  {{
                    item.productPrice.finalPrice | currency: "EGP ":"symbol"
                  }}</span
                >
                <div *ngIf="item.productStock <= 20" class="text-danger">
                  Only {{ item.productStock }} left in stock - order soon.
                </div>
                <div>Shipped from: <a href="#">Amazon.com</a></div>
                <div>
                  Gift options not available. Gift options not available.
                  <a href="#"> Learn more </a>
                </div>
                <div>
                  <span class="dropdown me-2">
                    <select
                      [(ngModel)]="item.quantity"
                      (change)="updateQuantityPrice()"
                      class="btn btn-light dropdown-toggle p-1 shadow-sm"
                      id="dropdownMenuButton"
                    >
                      <option [ngValue]="1">1</option>
                      <option [ngValue]="2">2</option>
                      <option [ngValue]="3">3</option>
                      <option [ngValue]="4">4</option>
                      <option [ngValue]="5">5</option>
                    </select>
                  </span>
                  <span class="MM_itemOptions">
                    <a (click)="deleteItem(item)" style="cursor: pointer"
                      >Delete</a
                    >
                    <a href="#">Save for later</a>
                    <a href="#">Compare with similar items</a>
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <hr />
                <span class="float-end fs-5"
                  >Total ({{ totalQuantity }} item):
                  <span class="fw-bold">
                    {{ totalPrice | currency: "EGP ":"symbol" }}
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-body"></div>
        </div>

        <div class="mb-3" style="font-size: 0.8em">
          The price and availability of items at Amazon.com are subject to
          change. The Cart is a temporary place to store a list of your items
          and reflects each item's most recent price. Shopping Cart
          <a href="#">Learn more</a>
          <br />
          Do you have a gift card or promotional code? We'll ask you to enter
          your claim code when it's time to pay.
        </div>
      </div>

      <div class="col-md-3">
        <div class="row">
          <div class="col-12 MM_subTotal">
            <div class="card my-3">
              <div class="card-body my-4">
                <span class="fs-5"
                  >Total ({{ totalQuantity }} item):
                  <span class="fw-bold">
                    {{ totalPrice | currency: "EGP ":"symbol" }}
                  </span>
                </span>
                <button
                  [routerLink]="['/checkout']"
                  class="btn bg-gradient p-1 my-2 col-12"
                  [disabled]="totalQuantity === 0"
                >
                  Proceed to checkout
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
